{% extends 'base.html.twig' %}

{% block title %}{{ template|default('Add Activity Template') }} @ {{ component }} @ {{ environment }} @ {{ ecosystem }}{% endblock %}
{% set is_existing = (template.created|default(null) is not empty) %}

{% block heading %}
    {{ parent() }}
    {% if template and template.id and nav.isRouteGranted('app_activitytemplate_export') %}
        <a class="ui icon button right floated no-print" href="{{ nav.entityRoutePath('app_activitytemplate_export', template) }}">
            <i class="ui download icon"></i>
            <span class="hide-on-mobile">Export</span>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if template %}
        {% if errors|default(false) %}
            <div class="ui error message">
                <i class="ui exclamation triangle icon"></i>
                Your input requires your further attention. Please inspect any messages below.
            </div>
        {% endif %}
        <form class="disable-on-submit confirm-on-leave" method="POST">
            <div class="ui form">
                <input type="hidden" name="class" value="{{ template.class }}" />
                <div class="ui required field basic segment">
                    <label class="ui top attached large label">Name</label>
                    <input placeholder="User friendly template name (max 100 characters)" type="text" name="name" value="{{ template.name|default(null) }}" />
                    {{ _self.fieldError(errors|default([]), 'name') }}
                </div>
                <div class="ui required field basic segment">
                    <label class="ui top attached large label">Priority</label>
                    <input placeholder="Execution priority during deployment (a higher priority will go before a lower one)" type="number" name="priority" min="0" value="{{ template.priority|default(null) }}" />
                    {{ _self.fieldError(errors|default([]), 'priority') }}
                </div>
                {% include configurationsForm %}
                <div class="ui field basic segment">
                    <label class="ui top attached large label">Single Activity Per Deployment</label>
                    <div class="ui checkbox">
                        <input type="hidden" value="0" name="singleActivityPerDeployment" />
                        <input type="checkbox" value="1" name="singleActivityPerDeployment" {{ ifelse(template.singleActivityPerDeployment, 'checked') }} />
                        <label>Limit to only single activity created using this template per deployment?</label>
                    </div>
                </div>
                <div class="ui field basic segment">
                    <label class="ui top attached large label">Disabled</label>
                    <div class="ui checkbox">
                        <input type="hidden" name="disabled" value="0" />
                        <input type="checkbox" name="disabled" value="1" {% if template.disabled %}checked="checked"{% endif %} />
                        <label>Set to disabled to prevent creation of new activities using this template</label>
                    </div>
                </div>
                <div class="ui field">
                    <button type="submit" class="ui submit primary button" name="formAction" value="save">
                        {% if is_existing %}Save{% else %}Add{% endif %} Activity Template
                    </button>
                    <a href="{{ cancel_path|default('javascript:window.history.go(-1)') }}" class="ui secondary button">Cancel</a>
                    {% if is_existing and template.canDelete() %}
                        <button type="submit" class="ui red right floated button" name="formAction" value="delete"
                                onclick="return confirmOperation('Are you sure you want to delete? Enter activity template name to delete', {{ template.name|json_encode() }});">
                            Delete
                        </button>
                    {% endif %}
                </div>
            </div>
        </form>
    {% else %}
        <form class="ui basic segment disable-on-submit confirm-on-leave" method="GET">
            <div class="ui form">
                <div class="ui required field basic segment">
                    <label class="ui top attached large label">Select category for the new activity template</label>
                    <div class="ui basic segment grouped fields">
                        {% for class in classes|keys %}
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="class" value="{{ class }}" />
                                    <label>{{ class|basename|uncamelize }}</label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {{ _self.fieldError(errors|default([]), 'class') }}
                </div>
                <div class="ui field">
                    <input type="submit" class="ui submit primary button" value="Next" />
                    <a href="{{ cancel_path|default('javascript:window.history.go(-1)') }}" class="ui secondary button">Cancel</a>
                </div>
            </div>
        </form>
        <form class="ui basic segment disable-on-submit confirm-on-leave" method="POST" enctype="multipart/form-data">
            <div class="ui form">
                <div class="ui field basic segment">
                    <label class="ui top attached large label">Import from exported activity template</label>
                    <input type="file" name="import" accept=".json" />
                    {{ _self.fieldError(errors|default([]), 'import') }}
                </div>
                <div class="ui field">
                    <input type="submit" class="ui submit primary button" value="Import" />
                    <a href="{{ cancel_path|default('javascript:window.history.go(-1)') }}" class="ui secondary button">Cancel</a>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
