{% import "base.html.twig" as base %}

<div class="ui field basic segment">
    <label class="ui top attached large label">Instructions</label>
    {% apply markdown %}
    {{ activity.template.configurations.instructions|raw }}
    {% endapply %}
</div>
<div class="ui required field basic segment">
    <label class="ui top attached large label">Version</label>
    <input type="text" name="parameters[version]" value="{{ activity.parameters.version|default(null) }}" />
    {{ base.fieldError(errors|default([]), 'parameters.version') }}
</div>