{% import "base.html.twig" as base %}
<div class="ui required field basic segment">
    <label class="ui top attached large label">Instructions</label>
    <textarea id="template-parameters-instructions" name="configurations[instructions]" placeholder="Instructions">{{ template.configurations['instructions']|default(null) }}</textarea>
    <p>Note: you can use <a href="https://commonmark.org/help/" target="_blank">markdown syntax</a> to format the input</p>
    <div class="ui top attached block header">Preview</div>
    <div id="markdown-preview-template-instructions" class="ui attached segment"></div>
    {{ base.fieldError(errors|default([]), 'configurations.instructions') }}
    <script>
        $(function () {
            $("#template-parameters-instructions").on('input propertychange', function () {
                $('#markdown-preview-template-instructions').load({{ path('app_ajax_markdown')|json_encode|raw }}, {'code': $(this).val()}, function () {
                    markdownParseMermaid('#markdown-preview-template-instructions');
                });
            });
            $("#template-parameters-instructions").trigger('propertychange');
        });
    </script>
</div>

{% set allowed_types = ['freetext', 'password', 'checkbox', 'multiselect', 'multiline', 'dropdown', 'script', 'url', 'file', 'formatted', 'jsondropdown'] %}
<div class="ui field basic segment">
    <label class="ui top attached large label">Parameters</label>
    <table class="ui celled striped compact table">
        <thead>
            <tr>
                <th>Label in Runbook view</th>
                <th>Label in Activity view</th>
                <th>Type</th>
                <th>Description</th>
                <th>Configuration</th>
                <th>Required</th>
                <th>Sensitive</th>
            </tr>
        </thead>
        <tbody>
            {% set paramval = template.configurations['parameters']|default([]) %}
            {% for i in range(0, paramval|length + 2) %}
                <tr class="ui top aligned">
                    <td>
                        <input type="text" name="configurations[parameters][{{ i }}][id]" value="{{ paramval[i].id|default(null) }}" />
                        {{ base.fieldError(errors|default([]), 'configurations.parameters.'~i~'.id') }}
                    </td>
                    <td>
                        <input type="text" name="configurations[parameters][{{ i }}][title]" value="{{ paramval[i].title|default(null) }}" />
                        {{ base.fieldError(errors|default([]), 'configurations.parameters.'~i~'.title') }}
                    </td>
                    <td>
                        <select name="configurations[parameters][{{ i }}][type]" class="ui fluid dropdown">
                            <option value="">- Select field type -</option>
                            {% for type in allowed_types %}
                                <option value="{{ type }}" {{ ifelse(type == paramval[i].type|default(null), 'selected="selected"') }}>{{ type }}</option>
                            {% endfor %}
                        </select>
                        {{ base.fieldError(errors|default([]), 'configurations.parameters.'~i~'.type') }}
                    </td>
                    <td>
                        <input type="text" name="configurations[parameters][{{ i }}][desc]" value="{{ paramval[i].desc|default(null) }}" placeholder="Short description for this field" />
                    </td>
                    <td>
                        <textarea name="configurations[parameters][{{ i }}][details]" rows="3" placeholder="List of values for type &quot;dropdown&quot; / &quot;multiselect&quot;, regex pattern for type &quot;formatted&quot;, list of file extensions (e.g. &quot;.sql&quot;) for type &quot;file&quot;, json containing key-values for jsondropdown, or the default value for other text-based types">{{ paramval[i].details|default(null) }}</textarea>
                    </td>
                    <td class="ui center aligned collapsing">
                        <input class="ui checkbox" type="checkbox" name="configurations[parameters][{{ i }}][required]" value="1" {% if paramval[i].required|default(null) %}checked="checked"{% endif %} />
                    </td>
                    <td class="ui center aligned collapsing">
                        <input class="ui checkbox" type="checkbox" name="configurations[parameters][{{ i }}][sensitive]" value="1" {% if paramval[i].sensitive|default(null) %}checked="checked"{% endif %} />
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <em>Notes: 
        <ul>
            <li>To add more entries, save first to get more empty entry rows</li>
            <li>To delete an entry, clear all its fields and save</li>
            <li>You can use the value of "Label in Runbook view" enclosed within curly braces {} inside the instructions and it will be substituted with the corresponding value that is entered for an activity that uses this template,<br />
                except for the following types: password, file, script, multiline, multiselect and checkbox.</li>
            <li>You can also use special variable {@ID} inside the instructions and it will be substituted with the system-generated ID of the corresponding activity</li>
        </ul>
    </em>
</div>
