{% import "base.html.twig" as base %}
<div class="ui required field basic segment">
    <label class="ui top attached large label">Instructions</label>
    {% set param = 'instructions' %}
    <textarea id="template-parameters-{{ param }}" name="configurations[{{ param }}]" placeholder="Instructions">{{ template.configurations[param]|default(null) }}</textarea>
    <p>Note: you can use <a href="https://commonmark.org/help/" target="_blank">markdown syntax</a> to format the input</p>
    <div class="ui top attached block header">Preview</div>
    <div id="markdown-preview-template-{{ param }}" class="ui attached segment"></div>
    {{ base.fieldError(errors|default([]), 'configurations.instructions') }}
    <script>
        $(function () {
            $("#template-parameters-{{ param }}").on('input propertychange', function () {
                $('#markdown-preview-template-{{ param }}').load({{ path('app_ajax_markdown')|json_encode|raw }}, {'code': $(this).val()}, function () {
                    markdownParseMermaid('#markdown-preview-template-{{ param }}');
                });
            });
            $("#template-parameters-{{ param }}").trigger('propertychange');
        });
    </script>
</div>
<div class="ui required field basic segment">
    <label class="ui top attached large label">Version Label in Activity</label>
    <input placeholder="Version" type="text" name="configurations[versionActivityLabel]" value="{{ template.configurations.versionActivityLabel|default('Version') }}" />
    {{ base.fieldError(errors|default([]), 'configurations.versionActivityLabel') }}
</div>
<div class="ui required field basic segment">
    <label class="ui top attached large label">Version Label in Run Book</label>
    <input placeholder="VERSION" type="text" name="configurations[versionRunbookLabel]" value="{{ template.configurations.versionRunbookLabel|default('VERSION') }}" />
    {{ base.fieldError(errors|default([]), 'configurations.versionRunbookLabel') }}
</div>
