{% import "base.html.twig" as base %}

<div class="ui field basic segment">
    <label class="ui top attached large label">Instructions</label>
    {% apply markdown %}
    {{ template.configurations.instructions|raw }}
    {% endapply %}
</div>
{% for parameter in template.configurations.parameters %}
    {% set pid = 'parameters-' ~ parameter.id %}
    {% set paramkey = 'parameters.' ~ parameter.id %}
    {% set paramfield = 'parameters[' ~ parameter.id ~ ']' %}
    {% set paramval = activity.parameters[parameter.id]|default(null) %}
    <div class="ui {{ ifelse(parameter.required|default(false), 'required') }} field basic segment">
        <label class="ui top attached large label" for="{{ pid }}">{{ parameter.title }}</label>

        {% if parameter.type == 'dropdown' %}
            {% if parameter.desc|default(null) %}<div>{{ parameter.desc }}</div>{% endif %}
            <select id="{{ pid }}" name="{{ paramfield }}" class="ui search dropdown">
                <option value="">-- Please select --</option>
                {% set options = parameter.details|default('')|split('\n') %}
                {% for v in options %}
                    {% set val = v|trim %}
                    <option value="{{ val }}" {{ ifelse(val == paramval|default(null) or options|length == 1, 'selected') }}>{{ val }}</option>
                {% endfor %}
            </select>
        {% elseif parameter.type == 'multiselect' %}
            {% if parameter.desc|default(null) %}<div>{{ parameter.desc }}</div>{% endif %}
            <div class="grouped fields">
                <input type="hidden" name="{{ paramfield }}" value="" />
                {% for i,v in parameter.details|default('')|split('\n') %}
                    {% set val = v|trim %}
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" value="{{ val }}" name="{{ paramfield }}[]" {{ ifelse(val in paramval|default(null), 'checked') }} />
                            <label>{{ val }}</label>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% elseif parameter.type == 'file' %}
            {% set paramfile = ds.getActivityFile(paramval.activityFileId|default(null)) %}
            <div class="ui basic secondary segment">
                {% if parameter.desc|default(null) %}<div>{{ parameter.desc }}</div>{% endif %}
                <input id="{{ pid }}" type="file" name="{{ paramfield }}" {% if parameter.details|default('') %}accept="{{ parameter.details|default('')|split('\n')|join(',') }}"{% endif %} />
                <em>Uploaded file with size larger than {{ upload_max_filesize }} will be ignored</em>
                {% if paramfile|default(null) %}
                    <div>
                        Existing file: <strong>{{ paramfile.file.name }}</strong> of type <strong>{{ paramfile.file.mimetype }}</strong> with size <strong>{{ paramfile.file.size }}</strong> bytes
                    </div>
                    {% if errors|default(null) and errors[paramkey] is not defined %}
                        {% set errors = errors + {(paramkey) : 'If you chose another file before, the file was not saved due to errors on other inputs, and you need to re-upload the file again'} %}
                    {% endif %}
                    {% if not parameter.required|default(false) %}
                        <div class="ui checkbox">
                            <label>Tick to remove the file</label> 
                            <input class="ui checkbox" type="checkbox" name="{{ paramfield }}[delete]" value="1" />
                        </div>
                    {% endif %}
                {% else %}
                    {% if errors|default(null) and errors[paramkey] is not defined %}
                        {% set errors = errors + {(paramkey) : 'If you chose a file before, the file was not saved due to errors on other inputs, and you need to re-upload the file again'} %}
                    {% endif %}
                {% endif %}
                <input type="hidden" name="{{ paramfield }}[activityFileId]" value="{{ paramval.activityFileId|default(null) }}" />
            </div>
        {% elseif parameter.type == 'password' and false %}
            {% if parameter.desc|default(null) %}<div>{{ parameter.desc }}</div>{% endif %}
            <input id="{{ pid }}" type="password" name="{{ paramfield }}" value="{{ paramval|default(parameter.details|default('')|split('\n')|first) }}" />
        {% elseif parameter.type == 'multiline' %}
            {% if parameter.desc|default(null) %}<div>{{ parameter.desc }}</div>{% endif %}
            <textarea id="{{ pid }}" name="{{ paramfield }}">{{ paramval|default(parameter.details|default('')) }}</textarea>
        {% elseif parameter.type == 'script' %}
            {% if parameter.desc|default(null) %}<div>{{ parameter.desc }}</div>{% endif %}
            <textarea id="{{ pid }}" name="{{ paramfield }}" style="font-family: monospace">{{ paramval|default(parameter.details|default('')) }}</textarea>
        {% elseif parameter.type == 'url' %}
            {% if parameter.desc|default(null) %}<div>{{ parameter.desc }}</div>{% endif %}
            <input id="{{ pid }}" type="text" name="{{ paramfield }}" value="{{ paramval|default(parameter.details|default('')|split('\n')|first) }}" placeholder="https://"  />
        {% elseif parameter.type == 'formatted' %}
            {% if parameter.desc|default(null) %}<div>{{ parameter.desc }}</div>{% endif %}
            <input id="{{ pid }}" type="text" name="{{ paramfield }}" value="{{ paramval|default(null) }}" onkeyup="
                    if (new RegExp('^{{ parameter.details|default('')|escape('js') }}$').test(this.value)) {
                        $(this).parent('.field').removeClass('error');
                    } else {
                        $(this).parent('.field').addClass('error');
                    }" />
        {% elseif parameter.type == 'jsondropdown' %}
            {% if parameter.desc|default(null) %}<div>{{ parameter.desc }}</div>{% endif %}
            <select id="{{ pid }}" name="{{ paramfield }}" class="ui search dropdown">
                <option value="">-- Please select --</option>
                {% for k,v in parameter.details|json_decode %}
                    <option value="{{ k }}" {{ ifelse(k == paramval|default(null), 'selected') }}>{{ v }}</option>
                {% endfor %}
            </select>
        {% elseif parameter.type == 'checkbox' %}
            <div class="ui checkbox">
                <input type="hidden" name="{{ paramfield }}" value="0" />
                <input id="{{ pid }}" type="checkbox" name="{{ paramfield }}" value="1" {{ ifelse(paramval|default(parameter.details|default('')), 'checked') }} />
                <label>{{ parameter.desc|default(null) }}</label>
            </div>
        {% else %}
            {% if parameter.desc|default(null) %}<div>{{ parameter.desc }}</div>{% endif %}
            <input id="{{ pid }}" type="text" name="{{ paramfield }}" value="{{ paramval|default(parameter.details|default('')|split('\n')|first) }}" />
        {% endif %}
        {{ base.fieldError(errors|default([]), paramkey) }}
    </div>
{% endfor %}
