{% extends 'base.html.twig' %}

{% block title %}{{ template }} @ {{ component }} @ {{ environment }} @ {{ ecosystem }}{% endblock %}

{% block heading %}
    {{ parent() }}
    {% if nav.isRouteGranted('app_activitytemplate_update') %}
        <a class="ui icon button right floated no-print" href="{{ nav.entityRoutePath('app_activitytemplate_update', template) }}">
            <i class="ui pencil icon"></i>
            <span class="hide-on-mobile">Update</span>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if template.disabled %}
        <div class="ui error message">
            This activity template has been disabled from new activity creation
        </div>
    {% endif %}

    <div class="ui tabular secondary pointing menu">
        <div class="item" data-tab="preview">
            <h2 class="ui header">
                <span>
                    <i class="ui eye icon"></i>
                    <span class="hide-on-mobile">Preview</span>
                </span>
            </h2>
        </div>
        <div class="item" data-tab="usages">
            <h2 class="ui header">
                <span>
                    <i class="ui clock outline icon"></i>
                    <span class="hide-on-mobile">Usages</span>
                    <span class="ui circular large label">{{ template.runItems.count() }}</span> 
                </span>
            </h2>
        </div>
    </div>

    <div class="ui tab" data-tab="preview">
        <form onsubmit="return false;">
            <div class="ui form">
                {% include templateClass.activityFormTwigFilepath() %}
            </div>
        </form>
    </div>

    <div class="ui tab" data-tab="usages">
        <table class="ui celled striped sortable purple selectable table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Deployment</th>
                    <th>Deployment Items</th>
                    <th>Parameters</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for runitem in template.runItems %}
                    <tr>
                        <td class="ui collapsing top aligned">{{ loop.index }}</td>
                        <td class="ui top aligned" data-sort-value="{{ runitem.deployment.executeDate.getTimestamp() }}">
                            <a href="{{ nav.entityRoutePath('app_deployment_view', runitem.deployment) }}">
                                {{ runitem.deployment.displayTitle }}
                            </a>
                        </td>
                        <td class="ui top aligned">
                            <ul style="margin:0">
                                {% for itemActivity in runitem.activity.itemActivities %}
                                    <li>
                                        <a href="{{ nav.entityRoutePath('app_item_view', itemActivity.item) }}">
                                            {{ itemActivity.item.displayTitle }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="ui top aligned">
                            {% set description = templateClass.describeActionableAsArray(runitem) %}
                            {{ _self.arrayTable(description) }}
                        </td>
                        <td class="ui collapsing top aligned" data-sort-value="{{ runitem.status }}">
                            {% set statusColor = switch(runitem.status, {'Failed':'red','Completed':'green'}) %}
                            <span class="ui horizontal label {{ statusColor }}">Status: {{ runitem.status }}</span>
                            {% if runitem.status != 'New' %}
                                <div>
                                    <small>
                                        by {{ (runitem.updatedBy.fullname|default(runitem.createdBy.fullname|default('Anonymous'))) }}
                                        <br />{{ runitem.updated|default(runitem.created)|date('Y-m-d h:ia') }}
                                    </small>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="1000" class="center aligned">No usages yet</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
