{% extends "base.html.twig" %}

{% block title %}Release note for {{ deployment }} @ {{ environment }} @ {{ ecosystem }}{% endblock %}

{% block content %}
    {% set total = 0 %}
    <div class="ui basic segment" style="font-family: monospace">
        {% for squad in ecosystem.squads %}
            {% set items = deployment.getItemsForSquad(squad) %}
            {% if items|length > 0 %}
                <h2 class="ui dividing header">{{ squad.name }}</h2>
                <div class="ui basic segment">
                    <ol class="ui relaxed large list">
                        {% for item in items %}
                            {% set total = total + 1 %}
                            <li>
                                {% if item.compareCurrentStatusTo(constant('App\\Entity\\Item::STATUS_APPROVAL')) > 0 %}
                                    <em>[Not approved yet]</em>
                                {% endif %}
                                <strong>{{ item.category }}: {{ item.displayTitle }}</strong>
                                {% if item.itemactivities|length > 0 %}
                                    {% set comps = [] %}
                                    {% for itemactivity in item.itemactivities %}
                                        {% set comps = comps|merge([itemactivity.activity.template.component.name]) %}
                                    {% endfor %}
                                    <div>
                                        ({{ comps|unique|join(' + ') }})
                                    </div>
                                {% endif %}
                                {% if item.description %}
                                    <div>
                                        <small>
                                            <pre>{{ item.description }}</pre>
                                        </small>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <p>
        Total: {{ total }}
    </p>

    <div class="ui vertical footer segment">
        <p><em>Auto-generated on {{ 'now'|date('Y-m-d h:i A') }}</em></p>
    </div>
{% endblock %}