{% extends 'base.html.twig' %}

{% block title %}Run Book for {{ deployment }} @ {{ environment }} @ {{ ecosystem }}{% endblock %}

{% block head %}
    <script>
        function changeStatus(id, status, required) {
        $('#change_status_id').val(id);
        $('#change_status_field').val(status);
        $('#change_status_next').text(status);
        if (required) {
        $('#changeStatusRemarkField').show();
        $('#changeStatusRemarkRequired').val(1);
        } else {
        $('#changeStatusRemarkField').hide();
        $('#changeStatusRemarkRequired').val(0);
        }
        $('#change_status_confirmation').modal('show');
        validateRemark();
        return false;
        }

        function validateRemark() {
        if ($('#changeStatusRemarkRequired').val() == 1 && $('#changeStatusRemarkTextArea').val().trim() == '') {
        $('#change_status_button').addClass('disabled');
        } else {
        $('#change_status_button').removeClass('disabled');
        }
        }

        $(function () {
        $('#changeStatusRemarkTextArea').on('input propertychange', validateRemark);
        });
    </script>
{% endblock %}

{% block content %}
    {% if now < deployment.executeDate %}
        <div class="ui warning message">
            Warning: It is not the deployment date/time yet
        </div>
    {% endif %}
    <div class="ui basic segment">
        {% for activity in activities %}
            {% set outernum = loop.index %}
            <div class="ui segment">
                <div class="ui ribbon purple label">
                    <h3>{{ outernum }} &raquo; {{ activity.template.displayTitle }}</h3>
                </div>
                <div class="ui divided list">
                    {% for runitem in activity.runitems %}
                        <div class="ui item" style="padding: 1em 0;">
                            <div class="ui mobile stackable grid">
                                <div class="ui twelve wide column">
                                    <h3>{{ outernum }}.{{ loop.index }}</h3>
                                    {% set templateClass = templateMgr.templateClass(activity.template.class) %}
                                    {% set description = templateClass.describeActionableAsArray(runitem,true) %}
                                    {{ _self.arrayTable(description) }}
                                </div>
                                <div class="ui four wide column">
                                    <h3>Status:</h3>
                                    {% if runitem.status == 'New' %}
                                        <div class="ui fluid vertical spaced buttons">
                                            <div class="ui positive button" onclick="return changeStatus({{ runitem.id|raw|json_encode }}, {{ constant('App\\Entity\\Item::STATUS_COMPLETED')|json_encode }})">
                                                <i class="ui checkmark icon"></i>Completed
                                            </div>
                                            <div class="ui negative button" onclick="return changeStatus({{ runitem.id|raw|json_encode }}, {{ constant('App\\Entity\\Item::STATUS_FAILED')|json_encode }}, true)">
                                                <i class="ui x icon"></i>Failed
                                            </div>
                                        </div>
                                    {% else %}
                                        <span class="ui horizontal label {% if runitem.status == constant('App\\Entity\\Item::STATUS_FAILED') %}red{% elseif runitem.status == constant('App\\Entity\\Item::STATUS_COMPLETED') %}green{% endif %}">Status: {{ runitem.status }}</span>
                                        <div>
                                            <small>
                                                by {{ (runitem.updatedBy|default(runitem.createdBy)).fullname|default('Anonymous') }}
                                                <br />{{ runitem.updated|default(runitem.created)|date('Y-m-d h:ia') }}
                                            </small>
                                        </div>
                                    {% endif %}
                                    <h3>Related squads & items:</h3>
                                    {% for activityItem in runitem.itemActivities %}
                                        <a href="{{ nav.entityRoutePath('app_item_view', activityItem.item) }}" class="ui grey label" style="margin: 1px">
                                            {{ activityItem.item.squad.name }}
                                            <div class="detail">{{ activityItem.item.name }}</div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="ui alert message">
                <i class="ui warning sign icon"></i>
                There is no run book item yet because no approved deployment items are found.
            </div>
        {% endfor %}
    </div>

    <div id="change_status_confirmation" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Change Status to <span id="change_status_next">next</span>
        </div>
        <form class="ui form basic segment" method="POST" onsubmit="showOverlay('Updating ...');">
            <div id="changeStatusRemarkField" class="ui field content">
                <label>Remark</label>
                <textarea id="changeStatusRemarkTextArea" placeholder="Please enter a remark" name="remark"></textarea>
            </div>
            <div class="actions">
                <input id="change_status_button" class="ui ok primary button" type="submit" value="Change Status" />
                <div class="ui cancel button">Cancel</div>
                <input id="change_status_id" type="hidden" name="runItemId" value="" />
                <input id="changeStatusRemarkRequired" type="hidden" name="remarkRequired" value="" />
                <input id="change_status_field" type="hidden" name="newStatus" value="" />
            </div>
        </form>
    </div>
{% endblock %}
