{% extends 'base.html.twig' %}

{% block title %}{{ deployment }} @ {{ environment }} @ {{ ecosystem }}{% endblock %}

{% block heading %}
    {{ parent() }}
    {% if nav.isRouteGranted('app_deployment_update') %}
        <a class="ui icon button right floated no-print" href="{{ nav.entityRoutePath('app_deployment_update', deployment) }}">
            <i class="ui pencil icon"></i>
            <span class="hide-on-mobile">Update</span>
        </a>
    {% endif %}
    {% if nav.isRouteGranted('app_deployment_runbook') %}
        <a class="ui icon button right floated no-print" href="{{ nav.entityRoutePath('app_deployment_runbook', deployment) }}">
            <i class="ui play circle icon"></i>
            <span class="hide-on-mobile">Run Book</span>
        </a>
    {% endif %}
    {% if nav.isRouteGranted('app_deployment_releasenote') %}
        <a class="ui icon button right floated no-print" href="{{ nav.entityRoutePath('app_deployment_releasenote', deployment) }}">
            <i class="ui checkmark box icon"></i>
            <span class="hide-on-mobile">Release Note</span>
        </a>
    {% endif %}
{% endblock %}

{% block headers %}
    {% set this = ds.countPrevious(deployment, 'identifier', ['environment']) + 1 %}
    {% set next = ds.getNext(deployment, 'identifier', ['environment']) %}
    {% if next %}
        <a class="ui right floated tertiary icon button no-print" href="{{ nav.entityRoutePath('app_deployment_view',next) }}" title="{{ next.displayTitle() }}">
            Next <span class="hide-on-mobile">Deployment</span>
            <i class="right arrow icon"></i>
        </a>
    {% endif %}
    <span style="float:right; padding:0 0.5em; font-size: 200%">#{{ this }}</span>
    {% if this > 1 %}
        {% set prev = ds.getPrevious(deployment, 'identifier', ['environment']) %}
        <a class="ui right floated tertiary icon button no-print" href="{{ nav.entityRoutePath('app_deployment_view',prev) }}" title="{{ prev.displayTitle() }}">
            <i class="left arrow icon"></i>
            Previous <span class="hide-on-mobile">Deployment</span>
        </a>
    {% endif %}
    {{ parent() }}
    {{ _self.describe(deployment.description, 'deployment') }}
{% endblock %}

{% block content %}
    <div class="ui tabular secondary pointing menu">
        <div class="item" data-tab="items">
            <h2 class="ui header">
                <span>
                    <i class="ui flag icon"></i>
                    <span class="hide-on-mobile">Deployment Items</span> 
                    <span class="ui circular large label">{{ deployment.items|length }}</span>
                </span>
            </h2>
        </div>
        <div class="item" data-tab="checklist">
            <h2 class="ui header">
                <span>
                    <i class="ui tasks icon"></i>
                    <span class="hide-on-mobile">Checklist</span>
                    <span class="ui circular large label">{{ deployment.checklists|default([])|length }}</span>
                </span>
            </h2>
        </div>
    </div>

    <div class="ui tab" data-tab="items">
        {% if deployment.items|length > 0 %}
            <div class="ui basic segment">
                <div class="ui grid">
                    <div class="doubling six column row">
                        <div class="ui column center aligned">
                            <div class="ui red tiny statistic">
                                <div class="label">
                                    Rejected / Failed
                                </div>
                                <div class="value">
                                    {{ deployment.getItemsWithStatus(constant('App\\Entity\\Item::STATUS_REJECTED'))|length + deployment.getItemsWithStatus(constant('App\\Entity\\Item::STATUS_FAILED'))|length }}
                                </div>
                            </div>
                        </div>
                        {% set statuses = constant('App\\Entity\\Item::STATUSES')|keys %}
                        {% for s in statuses %}
                            <div class="ui column center aligned">
                                <div class="ui tiny statistic ">
                                    <div class="label">
                                        {{ s }}
                                    </div>
                                    <div class="value">
                                        {{ deployment.getItemsWithStatus(s)|length }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {{ _self.deploymentItemProgressBars(deployment.items) }}
        {% endif %}

        <table class="ui celled striped sortable purple selectable table">
            <thead>
                <tr>
                    <th class="ui collapsing">Squad</th>
                    <th class="ui collapsing">Reference #</th>
                    <th>Title</th>
                    <th class="ui collapsing">Category</th>
                    <th class="ui collapsing"><i class="ui add to cart icon" title="Activity Count"></i></th>
                    <th class="ui collapsing"><i class="ui comment icon" title="Comment Count"></i></th>
                    <th class="ui collapsing">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in deployment.items %}
                    <tr data-category="{{ item.category }}" data-status="{{ item.status }}">
                        <td class="ui collapsing top aligned">
                            {{ item.squad.displayTitle }}
                        </td>
                        <td class="ui collapsing top aligned">
                            {{ item.refnum|default('-') }}
                        </td>
                        <td class="ui top aligned">
                            <h3 style="margin-bottom: 0">
                                {% if item.externalUrl %}
                                    <a class="ui right floated secondary icon mini button no-print" href="{{ item.externalUrl }}" target="_blank" title="{{ item.externalUrlLabel|default('External URL') }}">
                                        <i class="ui linkify icon"></i>
                                    </a>
                                {% endif %}
                                <a href="{{ nav.entityRoutePath('app_item_view',item) }}" style="display:block">
                                    {{ item.name }}
                                </a>
                            </h3>
                            {% if item.description %}
                                <div class="ui message">{{ item.description|nl2br }}</div>
                            {% endif %}
                        </td>
                        <td class="ui collapsing top aligned">
                            {{ _self.itemCategoryLabel(item) }}
                        </td>
                        <td class="ui collapsing top aligned">
                            {% set activities = item.itemActivities.count() %}
                            <span class="ui circular {{ activities?'blue':'red' }} label">{{ activities }}</span>
                        </td>
                        <td class="ui collapsing top aligned">
                            {% set comments = item.comments.count() %}
                            <span class="ui circular {{ comments?'blue':'' }} label">{{ comments }}</span>
                        </td>
                        <td class="ui collapsing top aligned" data-sort-value="{{ constant('App\\Entity\\Item::STATUSES')[item.status].sequence|default(0) }}">
                            {{ _self.itemStatusLabel(item) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="1000" class="center aligned">No item found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if security.isGranted(['approval','entry'],ecosystem) %}
            <div class="ui top left pointing dropdown primary button">
                <i class="clock icon"></i> Add Deployment Item
                <div class="menu">
                    <div class="header">Select Squad</div>
                    {% for squad in deployment.environment.ecosystem.squads %}
                        {% if not squad.decommissioned %}
                            <a class="item {{ ifelse(not nav.isRouteGranted('app_item_add',{'squad':squad}),'disabled') }}" href="{{ nav.entityRoutePath('app_item_add', squad, deployment) }}">{{ squad.displayTitle }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="ui tab" data-tab="checklist">
        <table class="ui celled red striped sortable selectable table">
            <thead>
                <tr>
                    <th class="ui collapsing">#</th>
                    <th>Activity</th>
                    <th class="ui collapsing">Start Date/Time</th>
                    <th class="ui collapsing">End Date/Time</th>
                    <th class="ui collapsing">PIC</th>
                    <th class="ui collapsing">Status</th>
                    <th>Updates</th>
                    <th class="ui collapsing">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for c in deployment.checklists|default([]) %}
                    <tr class="top aligned">
                        <td data-sort-value="{{ loop.index }}">{{ loop.index }}</td>
                        <td>{{ c.title }}</td>
                        <td class="ui collapsing" data-sort-value="{{ c.start.getTimestamp() }}">{{ c.start|date('Y-m-d h:i A') }}</td>
                        {% if c.end %}
                            <td class="ui collapsing" data-sort-value="{{ c.end.getTimestamp() }}">{{ c.end|date('Y-m-d h:i A') }}</td>
                        {% else %}
                            <td class="ui collapsing" data-sort-value="0"></td>
                        {% endif %}
                        <td class="ui collapsing">
                            {% for p in c.pics %}
                                <div>{{ p.fullname }}</div>
                            {% endfor %}
                        </td>
                        <td class="ui collapsing">{{ c.status }}</td>
                        <td>
                            <div class="ui divided list">
                                {% for u in c.updates %}
                                    <div class="item">
                                        <div class="content">
                                            {{ u.created|date('dM h:i a') }} [{{ u.createdBy.fullname|default('Anonymous') }}]: {{ u.comment }}
                                        </div>
                                    </div>
                                {% else %}
                                    N/A
                                {% endfor %}
                            </div>
                        </td>
                        {% if security.isGranted('update',c) %}
                            <td class="ui collapsing">
                                <a class="ui icon button" title="Update" href="{{ nav.entityRoutePath('app_checklist_update',c) }}">
                                    <i class="ui pencil icon"></i>
                                </a>
                            </td>
                        {% else %}
                            <td class="ui collapsing">
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="1000" class="center aligned">No checklist task has been created</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if nav.isRouteGranted('app_checklist_add') %}
            <a class="ui primary icon button" href="{{ nav.entityRoutePath('app_checklist_add', deployment) }}">
                <i class="plus icon"></i>
                Add Checklist Task
            </a>
        {% endif %}
    </div>
    {{ _self.timestamps(deployment, 'margin: 3em 5px 0 0;') }}

{% endblock %}
