{% extends 'base.html.twig' %}

{% block title %}Renogen{% endblock %}

{% block content %}
    <div class="ui tabular secondary pointing menu">
        {% if actions_needed.count > 0 %}
            <div class="item" data-tab="actionsneeded">
                <h2 class="ui header">
                    <span>
                        <i class="ui exclamation triangle icon"></i>
                        <span class="hide-on-mobile">Actions Needed</span>
                        <span class="ui circular large label">{{ actions_needed.count }}</span> 
                    </span>
                </h2>
            </div>
        {% endif %}
        <div class="item" data-tab="squads">
            <h2 class="ui header">
                <span>
                    <i class="ui users icon"></i>
                    <span class="hide-on-mobile">Squads</span>
                </span>
            </h2>
        </div>
    </div>

    {% if actions_needed.count > 0 %}
        <div class="ui tab" data-tab="actionsneeded">
            {% if actions_needed.requests|length > 0 %}
                <h3>Deployment Requests</h3>
                <table class="ui large padded striped sortable purple fluid celled table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Environment</th>
                            <th>Name</th>
                            <th>Duration (Hours)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%  for request in actions_needed.requests %}
                            <tr>
                                <td class="ui collapsing" data-sort-value="{{ request.executeDate.getTimestamp() }}">
                                    {{ request }}
                                </td>
                                <td class="ui collapsing">
                                    <a href="{{ nav.entityRoutePath('app_environment_view', request.environment) ~ '#/requests' }}">
                                        {{ request.environment.displayTitle }} 
                                        @
                                        {{ request.environment.ecosystem.displayTitle }}
                                    </a>
                                </td>
                                <td>
                                    {{ request.name }}
                                </td>
                                <td class="ui collapsing">
                                    {{ request.duration }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}            
            {% if actions_needed.items|length > 0 %}
                <h3>Items</h3>
                <table class="ui large padded striped sortable purple fluid celled table">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Status</th>
                            <th><i class="ui add to cart icon" title="Activity Count"></i></th>
                            <th>Squad</th>
                            <th>Environment</th>
                            <th>Deployment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%  for item in actions_needed.items %}
                            <tr>
                                <td>
                                    <a href="{{ nav.entityRoutePath('app_item_view', item) }}">
                                        {{ item.displayTitle }}
                                    </a>
                                </td>
                                <td class="ui collapsing" data-sort-value="{{ item.statusSortValue() }}">
                                    {{ _self.itemStatusLabel(item) }}
                                </td>
                                <td class="ui collapsing">
                                    {% set activities = item.itemActivities.count() %}
                                    <span class="ui circular {{ activities?'blue':'red' }} label">{{ activities }}</span>
                                </td>
                                <td class="ui collapsing">
                                    <a href="{{ nav.entityRoutePath('app_squad_deployment', item.squad, item.deployment) }}">
                                        {{ item.squad.displayTitle }}
                                    </a>
                                </td>
                                <td class="ui collapsing" data-sort-value="{{ item.deployment.environment.level }}">
                                    <a href="{{ nav.entityRoutePath('app_environment_view', item.deployment.environment) }}">
                                        {{ item.deployment.environment.displayTitle }} 
                                        @
                                        {{ item.deployment.environment.ecosystem.displayTitle }}
                                    </a>
                                </td>
                                <td class="ui collapsing" data-sort-value="{{ item.deployment.executeDate.getTimestamp() }}">
                                    <a href="{{ nav.entityRoutePath('app_deployment_view', item.deployment) }}">
                                        {{ item.deployment.displayTitle }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if actions_needed.tasks|length > 0 %}
                <h3>Checklist Tasks</h3>
                <table class="ui celled red striped sortable selectable table">
                    <thead>
                        <tr>
                            <th>Environment</th>
                            <th>Deployment</th>
                            <th>Activity</th>
                            <th class="ui collapsing">Start Date/Time</th>
                            <th class="ui collapsing">End Date/Time</th>
                            <th class="ui collapsing">PIC</th>
                            <th class="ui collapsing">Status</th>
                            <th class="ui collapsing">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in actions_needed.tasks %}
                            <tr class="top aligned">
                                <td class="ui collapsing" data-sort-value="{{ c.deployment.environment.level }}">
                                    <a href="{{ nav.entityRoutePath('app_environment_view', c.deployment.environment) }}">
                                        {{ c.deployment.environment.displayTitle }} 
                                        @
                                        {{ c.deployment.environment.ecosystem.displayTitle }}
                                    </a>
                                </td>
                                <td class="ui collapsing" data-sort-value="{{ c.deployment.executeDate.getTimestamp() }}">
                                    <a href="{{ nav.entityRoutePath('app_deployment_view', c.deployment) }}#/checklist">
                                        {{ c.deployment.displayTitle }}
                                    </a>
                                </td>
                                <td>{{ c.title }}</td>
                                <td class="ui collapsing" data-sort-value="{{ c.start.getTimestamp() }}">{{ c.start|date('Y-m-d h:i A') }}</td>
                                {% if c.end %}
                                    <td class="ui collapsing" data-sort-value="{{ c.end.getTimestamp() }}">{{ c.end|date('Y-m-d h:i A') }}</td>
                                {% else %}
                                    <td class="ui collapsing" data-sort-value="0"></td>
                                {% endif %}
                                <td class="ui collapsing">
                                    {% for p in c.pics %}
                                        <div>{{ p.fullname }}</div>
                                    {% endfor %}
                                </td>
                                <td class="ui collapsing">{{ c.status }}</td>
                                <td class="ui collapsing">
                                    <a class="ui icon button" title="Update" href="{{ nav.entityRoutePath('app_checklist_update',c) }}">
                                        <i class="ui pencil icon"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    {% endif %}

    <div class="ui tab" data-tab="squads">
        <div style="margin-left: 1em;">
            {% for ecosystem in ecosystems %}
                {% set has_access =  security.isGranted('ROLE_ADMIN') or security.isGranted('any', ecosystem.entity) %}
                <div class="ui fluid segment">
                    <a class="ui top left ribbon large purple label" href="{{ ifelse(has_access, nav.entityRoutePath('app_ecosystem_view', ecosystem.entity), 'javascript:showToast("You need to be a member of any of the squad","No access")') }}">
                        {{ ecosystem.entity.displayTitle }}
                    </a>
                    {% if security.isGranted('admin', ecosystem.entity) %}
                        <i class="ui crown icon" title="You are an admin for this ecosystem"></i>
                    {% endif %}
                    {% if ecosystem.entity.private %}
                        <i class="ui lock icon" title="This is a private ecosystem"></i>
                    {% endif %}
                    <div class="ui center aligned content" style="padding-top: 1em;">
                        {% if ecosystem.entity.ecosystemAdmins.count() %}
                            {% set ecoAdmins = [] %}
                            {% for ecoAdmin in ecosystem.entity.ecosystemAdmins %}
                                {% set ecoAdmins = ecoAdmins|merge([ecoAdmin.user.fullname]) %}
                            {% endfor %}
                            <div class="ui bottom attached label">
                                {{ ifelse(ecoAdmins|length > 1, 'Administrators', 'Administrator') }}:
                                {{ ecoAdmins|join(', ') }}
                            </div>
                        {% endif %}
                        {% if ecosystem.entity.description %}
                            <div style="margin-bottom: 10px;">
                                {{ ecosystem.entity.description }}
                            </div>
                        {% endif %}
                        {% if ecosystem.squads|length > 0 %}
                            <div class="ui fluid stackable cards" style="margin-top: 0;">
                                {% for squad in ecosystem.squads %}
                                    <a class="ui {{ ifelse(squad.role, 'purple') }} card"
                                       href="{{ ifelse(has_access, nav.entityRoutePath('app_squad_view', squad.entity), 'javascript:showToast("You need to be a member of the squad","No access")') }}">
                                        <div class="content">
                                            {% if squad.entity.icon %}
                                                <div class="ui right floated" style="padding-left: 10px;">
                                                    <img src="{{ squad.entity.icon }}" style="max-height:36px; width: auto; vertical-align: middle;" />
                                                </div>
                                            {% endif %}
                                            <div class="header">
                                                {{ squad.entity.displayTitle }}
                                                {% if squad.membership and squad.membership.favourite %}
                                                    <div class="ui yellow rating favorite-squad" data-rating="1" title="Favourite Squad"></div>
                                                {% endif %}
                                            </div>
                                            <span class="description">
                                                <i class="ui users icon"></i>
                                                {% set mcount = squad.entity.memberships.count() %}
                                                {{ mcount }} {{ ifelse(mcount > 1, 'members', 'member') }}
                                            </span>
                                            <div class="meta">
                                                {% if squad.role %}
                                                    You have <strong>{{ squad.role }}</strong> role
                                                {% else %}
                                                    You are non-member
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                                <script>
                                    $('.favorite-squad').rating({
                                        clearable: false,
                                        maxRating: 1
                                    });
                                </script>
                            </div>
                        {% else %}
                            <div>
                                <em>No squad has been created yet</em>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
