body {
    background-color: #FFFFFF;
}
.main {
    margin: 3em;
}
.nowrap {
    white-space: nowrap;
}
.floated.button {
    margin-bottom: 5px;
}
.inline {
    display: inline;
}
.overflow-auto {
    overflow: auto;
}
#topfiller {
    height: 3em;
}
#topmenu {
    margin: 0em;
    letter-spacing: 0.75pt;
    border-radius: 0px;
    box-shadow: inset 0px -3px 0px rgba(191,191,191,0.5);
}
a.anchor[name] {
    position: relative;
    top: -60px;
}
a[href] {
    color: {
        {
            theme
        }
    }
    ;
    color: dark{
        {
            theme
        }
    }
    ;
}
td a[href] {
    font-weight: bold;
}
.header > a {
    display:block;
}
.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, start);
}
#body {
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
    border: 1px solid transparent;
}
#footer {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    clear:both;
}
#scrollToTop {
    display:none;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

@keyframes blink {
    80% {
        visibility: hidden;
    }
}
@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) {
    .show-on-mobile-only {
        display: none !important;
    }
}