{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block content %}
    {% set active_users = users|filter(u => not u.blocked) %}
    {% set blocked_users = users|filter(u => u.blocked) %}
    <div class="ui top attached tabular secondary pointing menu">
        <div class="active item" data-tab="active">
            <h2 class="ui header">
                <span>
                    <i class="ui user icon"></i> Active
                    <span class="ui circular large label">{{ active_users|length }}</span>
                </span>
            </h2>
        </div>
        <div class="item" data-tab="blocked">
            <h2 class="ui header">
                <span>
                    <i class="ui user times icon"></i> Blocked
                    <span class="ui circular large label">{{ blocked_users|length }}</span>
                </span>
            </h2>
        </div>
    </div>

    <div class="ui tab basic segment active" data-tab="active">
        {{ _self.userlist(active_users) }}
    </div>
    <div class="ui tab basic segment" data-tab="blocked">
        {{ _self.userlist(blocked_users) }}
    </div>
{% endblock %}

{% macro userlist(users) %}
    <table class="ui celled striped sortable table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Login by</th>
                <th>Admin</th>
                <th>Squad Count</th>
                <th>Squads</th>
                <th>Registered</th>
                <th>Last Login</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="ui top aligned">
                    <td>{{ user.fullname }}</td>
                    <td class="ui collapsing">{{ user.email }}</td>
                    <td class="ui collapsing center aligned">
                        {% if user.blocked %}
                            <div class="ui red label">Blocked</div>
                        {% else %}
                            {% for login in user.logins %}
                                <div class="ui label" style="margin:0 5px 5px 0">{{ login.method }}</div>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td class="ui collapsing center aligned">{{ 'ROLE_ADMIN' in user.roles ? 'Y' : 'N' }}</td>
                    <td class="ui collapsing center aligned" data-sort-value="{{ user.memberships.count() }}">
                        {{ user.memberships.count() }}
                    </td>
                    <td>
                        <div class="ui middle aligned divided tiny list">
                            {% for membership in user.memberships.toArray()|psort('squad.ecosystem.name', 'squad.name') %}
                                <div class="item">
                                    <div class="right floated content">
                                        {{ membership.role }}
                                    </div>
                                    <div class="content">
                                        {{ membership.squad.ecosystem.name }} &raquo; {{ membership.squad.name }}
                                    </div>
                                </div>
                            {% else %}
                                N/A
                            {% endfor %}
                        </div>
                    </td>
                    <td class="ui collapsing" data-sort-value="{{ user.created.getTimestamp() }}">
                        {{ user.created|date('Y-m-d') }}
                    </td>
                    {% if user.lastLogin %}
                        <td class="ui collapsing" data-sort-value="{{ user.lastLogin.getTimestamp() }}">
                            {{ user.lastLogin|date('Y-m-d h:i A') }}
                        </td>
                    {% else %}
                        <td class="ui collapsing" data-sort-value="0">
                            Unknown
                        </td>
                    {% endif %}
                    <td class="ui collapsing">
                        <a class="ui button" href="{{ path('app_admin_users_update', {'userId': user.id}) }}">
                            <i class="ui pencil icon"></i> Update
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10" class="ui center aligned">Nothing to list</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endmacro %}