{% extends "base.html.twig" %}

{% block title %}{{ user|default('?') }} @ Users{% endblock %}

{% block content %}
    {% set is_existing = (user.created|default(null) is not empty) %}
    {% if errors|default(false) %}
        <div class="ui error message">
            Your input requires your further attention. Please inspect any messages below.
        </div>
    {% endif %}

    <form class="disable-on-submit confirm-on-leave" method="POST">
        <div class="ui form">
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Full Name</label>
                <input placeholder="Full name (max 100 characters)" type="text" name="fullname" value="{{ user.fullname|default(null) }}" />
                {{ _self.fieldError(errors|default([]), 'fullname') }}
            </div>
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Email</label>
                <input placeholder="Email address (max 50 characters)" type="text" name="email" value="{{ user.email|default(null) }}" />
                {{ _self.fieldError(errors|default([]), 'email') }}
            </div>
            <div class="ui field basic segment">
                <label class="ui top attached large label">Options</label>
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="admin" value="1" {% if user.admin %}checked="checked"{% endif %} />
                    <label>This user is an administrator</label>
                </div>
            </div>
            <div class="ui field basic segment">
                <label class="ui top attached large label">Ecosystem Administrator</label>
                <div>
                    {% for ecosystem in ds.queryMany('\\App\\Entity\\Ecosystem') %}
                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="ecosystemAdmins[]" value="{{ ecosystem.id }}" {% if user.ecosystemAdmins.get(ecosystem.id) %}checked{% endif %} />
                                <label>{{ ecosystem.displayTitle }}</label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="ui field basic segment">
                <label class="ui top attached large label">Squad Membership</label>
                <table class="ui celled striped table">
                    <thead>
                        <tr>
                            <th>Ecosystem</th>
                            <th>Squad</th>
                            <th colspan="6">Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sm in squad_memberships %}
                            <tr class="{{ ifelse(sm.role is not empty, 'blue colored') }}">
                                <td>{{ sm.squad.ecosystem.name }}</td>
                                <td>{{ sm.squad.name }}</td>
                                {% for lbl,role in {'None':'-','View':'view','Execute':'execute','Entry':'entry','Review':'review','Approval':'approval'} %}
                                    <td class="ui collapsing">
                                        <div class="ui toggle checkbox">
                                            <input type="radio" name="memberships[{{ sm.squad.id }}]" value="{{ role }}" {{ ifelse(role == sm.role|default('-'), 'checked="checked"') }} />
                                            <label>{{ lbl }}</label>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="ui field">
                <button type="submit" class="ui submit primary button" name="formAction" value="save">
                    {% if is_existing %}Save{% else %}Add{% endif %} User
                </button>
                <a href="{{ cancel_path|default('javascript:window.history.go(-1)') }}" class="ui secondary button">Cancel</a>
                {% if is_existing and not has_contrib %}
                    <button type="submit" class="ui red right floated button" name="formAction" value="delete"
                            onclick="return confirmOperation('Are you sure you want to delete? Enter user fullname to delete', {{ user.fullname|json_encode() }});">
                        Delete
                    </button>
                {% endif %}
                {% if user.blocked %}
                    <button type="submit" class="ui red right floated button" name="formAction" value="unblock"
                            onclick="return confirm('Are you sure you want to re-allow this user to login?')">
                        Unblock
                    </button>
                {% else %}
                    <button type="submit" class="ui red right floated button" name="formAction" value="block"
                            onclick="return confirm('Are you sure you want to block this user from login?')">
                        Block
                    </button>
                {% endif %}
            </div>
        </div>
    </form>

{% endblock %}