{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Guides{% endblock %}

{% block content %}
    <div class="ui six item stackable tabs menu">
        <a class="item" data-tab="about">
            About
        </a>
        <a class="item" data-tab="diff">
            Renogen4 vs Renogen3
        </a>
        <a class="item" data-tab="datamodel">
            Data Model
        </a>
        <a class="item" data-tab="roles_permissions">
            Roles &amp; Permissions
        </a>
        <a class="item" data-tab="faq">
            FAQ
        </a>
        <a class="item" data-tab="changelog">
            Change Log
        </a>
    </div>

    <div class="ui tab" data-tab="about">
        {{ include('guides/about.md')|markdown }}
    </div>
    <div class="ui tab" data-tab="diff">
        {{ include('guides/differences_from_renogen3.md')|markdown }}
    </div>
    <div class="ui tab" data-tab="datamodel">
        {{ include('guides/datamodel.md')|markdown }}
    </div>
    <div class="ui tab" data-tab="roles_permissions">
        {{ include('guides/roles_permissions.md')|markdown }}
    </div>
    <div class="ui tab" data-tab="changelog">
        {{ include('guides/changelog.md')|markdown }}
    </div>
    <div class="ui tab" data-tab="faq">
        {{ include('guides/faq.md')|markdown }}
    </div>
{% endblock %}
