{% extends 'base.html.twig' %}

{% block title %}{{ error.title|default('Error found!') }}{% endblock %}

{% block content %}
    <div class="ui basic segment">
        <h1 class="ui header">
            <i class="ui exclamation triangle icon"></i>
            {{ error.title|default('Error found!') }}
        </h1>

        <div class="ui error large message">
            {{ error.message }}
        </div>
        <a href="javascript:window.history.go(-1)" class="ui primary button"><i class="ui backward icon"></i> Go Back</a>
    </div>
{% endblock %}