{% extends 'base.html.twig' %}

{% block title %}{{ activity|default('Add Activity') }} @ {{ deployment }} @ {{ environment }} @ {{ ecosystem }}{% endblock %}

{% set is_existing = (activity.created|default(null) is not empty) %}

{% block content %}
    {% if activity is defined %}
        {%  set template = activity.template %}
    {% endif %}
    {% if template is defined %}
        {% if activity is defined and activity.itemActivities|length > 0 %}
            <div class="ui basic segment">
                <div class="ui fluid red card">
                    <div class="ui content">
                        <div class="ui header">This activity is used by the following item(s) so please be careful when modifying the parameters</div>
                        <table class="ui very compact small purple striped table">
                            <thead>
                                <tr>
                                    <th>Squad</th>
                                    <th>Item</th>
                                    <th>Category</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for itemActivity in activity.itemActivities %}
                                    {% set item = itemActivity.item %}
                                    <tr>
                                        <td class="ui collapsing">
                                            {{ item.squad.displayTitle }}
                                        </td>
                                        <td>
                                            <a href="{{ nav.entityRoutePath('app_item_view',item) }}" style="display:block">
                                                {{ item.displayTitle }}
                                            </a>
                                        </td>
                                        <td class="ui collapsing">
                                            {{ item.category }}
                                        </td>
                                        <td class="collapsing" data-sort-value="{{ item.deployment.squad.item_statuses[item.status].sequence|default(0) }}">
                                            <i class="ui {{ item.statusIcon }} icon"></i>{{ item.status }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        <form class="disable-on-submit confirm-on-leave" method="POST" enctype="multipart/form-data">
            <h2>Parameters</h2>
            <div class="ui form">
                {% include templateMgr.templateClass(template.class).activityFormTwigFilepath() %}
                <div class="ui field">
                    {% if nav.isRouteGranted('app_activitytemplate_update') %}
                        <a class="ui icon button right floated no-print" target="_blank" href="{{ nav.entityRoutePath('app_activitytemplate_update', template) }}">
                            <i class="ui pencil icon"></i>
                            <span class="hide-on-mobile">Update Activity Template</span>
                        </a>
                    {% endif %}
                    <input type="submit" class="ui submit primary button" name="_action" value="{% if is_existing %}Save{% else %}Add{% endif %} activity" />
                    <a href="{{ cancel_path|default('javascript:window.history.go(-1)') }}" class="ui secondary button">Cancel</a>
                </div>
            </div>
        </form>

        {{ _self.timestamps(activity, 'margin: 3em 5px 0 0;') }}
    {% else %}
        <div class="ui equal width grid">
            {% if activities|length > 0 %}
                <form class="ui column disable-on-submit confirm-on-leave" method="GET">
                    <h2>Add a shared activity</h2>
                    <div class="ui form">
                        <div class="ui required field basic segment">
                            <label class="ui top attached large label">Select an activity</label>
                            <div class="ui one cards">
                                {% for activity in activities %}
                                    {% set disabled = (nav.fetchItemActivity(item,activity) != null) %}
                                    {% set templateClass = templateMgr.templateClass(activity.template.class) %}
                                    {% set description = templateClass.describeActionableAsArray(activity) %}
                                    <div class="ui card">
                                        <div class="content">
                                            <h4 class="ui header">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" name="activity" {{ ifelse(disabled, 'disabled', 'value=' ~ activity.id) }} />
                                                    <label>
                                                        {{ activity.displayTitle }}
                                                        {% if disabled %}
                                                            <em>(Activity already added)</em>
                                                        {% endif %}
                                                    </label>
                                                </div>
                                            </h4>
                                            {{ _self.arrayTable(description) }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="ui field">
                            <input type="submit" class="ui submit primary button" value="Next" />
                            <a href="{{ cancel_path|default('javascript:window.history.go(-1)') }}" class="ui secondary button">Cancel</a>
                        </div>
                    </div>
                </form>
            {% endif %}
            <form class="ui column disable-on-submit confirm-on-leave" method="GET">
                <h2>Create new activity</h2>
                <div class="ui form">
                    <div class="ui required field basic segment">
                        <label class="ui top attached large label">Select an activity template</label>
                        <div class="ui basic segment grouped fields">
                            <div class="ui fluid styled accordion">
                                {% set component_layers = ecosystem.getComponentsByLayer() %}
                                {% for layer,components in component_layers %}
                                    {% if components|length > 0 %}
                                        <div class="title">
                                            <i class="dropdown icon"></i>
                                            {{ layer }}
                                        </div>
                                        <div class="content">
                                            <div class="nested accordion transition" style="margin: 0px;">
                                                {% for component in components %}
                                                    <div class="title">
                                                        <i class="dropdown icon"></i>
                                                        {{ component.name }}
                                                    </div>
                                                    <div class="content" style="padding-top: 0px;">
                                                        {% for template in ds.getActivityTemplates(environment, component) %}
                                                            {% set disabled = not template.creatableForDeployment(item.deployment) %}
                                                            <div class="field">
                                                                <div class="ui radio checkbox">
                                                                    <input type="radio" name="template" {{ ifelse(disabled, 'disabled', 'value='~ template.id) }} />
                                                                    <label>
                                                                        {{ template.displayTitle }}
                                                                        {% if disabled %}
                                                                            <em>(Activity already created)</em>
                                                                        {% endif %}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            No activity template is available
                                                        {% endfor %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {{ _self.fieldError(errors|default([]), 'template') }}
                    </div>
                    <div class="ui field">
                        <input type="submit" class="ui submit primary button" value="Next" />
                        <a href="{{ cancel_path|default('javascript:window.history.go(-1)') }}" class="ui secondary button">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
