{% extends 'base.html.twig' %}

{% block title %}{{ environment|default('Add Environment') }} @ {{ ecosystem }}{% endblock %}
{% set is_existing = (environment.created|default(null) is not empty) %}

{% block content %}
    <form class="disable-on-submit confirm-on-leave" method="POST">
        <div class="ui form">
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Identifier</label>
                <input placeholder="Environment identifier (max 30 alphanumeric, dash and underscore characters only)" type="text" name="identifier" value="{{ environment.identifier|default(null) }}" {% if is_existing %}disabled="disabled"{% endif %} />
                {{ _self.fieldError(errors|default([]), 'identifier') }}
            </div>
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Name</label>
                <input placeholder="User friendly environment name (max 100 characters)" type="text" name="name" value="{{ environment.name|default(null) }}" />
                {{ _self.fieldError(errors|default([]), 'name') }}
            </div>
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Level</label>
                <p>Environment level (production should be the highest)</p>
                <input type="number" name="level" min="0" value="{{ environment.level|default(0) }}" />
                {{ _self.fieldError(errors|default([]), 'level') }}
            </div>
            <div class="ui field">
                <button type="submit" class="ui submit primary button" name="formAction" value="save">
                    {% if is_existing %}Save{% else %}Add{% endif %} Environment
                </button>
                <a href="{{ cancel_path|default('javascript:window.history.go(-1)') }}" class="ui secondary button">Cancel</a>
                {% if is_existing and environment.canDelete() %}
                    <button type="submit" class="ui red right floated button" name="formAction" value="delete"
                            onclick="return confirmOperation('Are you sure you want to delete? Enter environment name to delete', {{ environment.name|json_encode() }});">
                        Delete
                    </button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
