{% extends 'base.html.twig' %}

{% block title %}Past Deployments for {{ environment }} @ {{ ecosystem }}{% endblock %}

{% block content %}

    {% for deployment in deployments %}
        <div class="ui purple fluid card">
            <div class="content">
                <a class="ui header" href="{{ nav.entityRoutePath('app_deployment_view', deployment) }}">
                    <span class="ui right floated{% if deployment.isRunning() %} blink{% endif %}">
                        {{ _self.displayDateTime(deployment.executeDate) }}
                    </span>
                    <i class="calendar check o icon"></i>
                    <div class="content">
                        {{ deployment.name }}
                    </div>
                </a>
                {{ _self.deploymentItemList(deployment.items) }}
            </div>
        </div>
    {% endfor %}

{% endblock %}
