{% extends 'base.html.twig' %}

{% block title %}{{ environment }} @ {{ ecosystem }}{% endblock %}

{% block heading %}
    {% if nav.isRouteGranted('app_environment_update') %}
        <div class="ui labels right-buttons">
            <a class="ui right floated button no-print" href="{{ nav.entityRoutePath('app_environment_update', environment) }}">
                <i class="ui pencil icon"></i>
                <span class="hide-on-mobile">Update</span>
            </a>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% set upcoming = environment.upcoming(10000) %}
    {% set recentcount = 10 %}
    {% set past = environment.past(10) %}
    {% set allpastcount = environment.past(10000000).count %}

    <div class="ui tabular secondary pointing menu">
        <div class="item" data-tab="upcoming">
            <h2 class="ui header">
                <span>
                    <i class="ui clock outline icon"></i>
                    <span class="hide-on-mobile">Upcoming Deployments</span>
                    <span class="ui circular large label">{{ upcoming.count() }}</span> 
                </span>
            </h2>
        </div>
        <div class="item" data-tab="requests">
            <h2 class="ui header">
                <span>
                    <i class="ui clock outline icon"></i>
                    <span class="hide-on-mobile">Deployment Requests</span>
                    <span class="ui circular large label">{{ environment.deploymentRequests.count() }}</span> 
                </span>
            </h2>
        </div>
        {% if past|length > 0 %}
            <div class="item" data-tab="past">
                <h2 class="ui header">
                    <span>
                        <i class="ui history icon"></i>
                        <span class="hide-on-mobile">Past Deployments</span> 
                        <span class="ui circular large label">{{ allpastcount }}</span> 
                    </span>
                </h2>
            </div>
        {% endif %}
        <div class="item" data-tab="templates">
            <h2 class="ui header">
                <span>
                    <i class="ui clipboard outline icon"></i>
                    <span class="hide-on-mobile">Activity Templates</span>
                    <span class="ui circular large label">{{ environment.activityTemplates.count() }}</span> 
                </span>
            </h2>
        </div>
    </div>

    <div class="ui tab" data-tab="upcoming">
        {% if upcoming|length > 0 %}
            <div class="ui cards">
                {% for deployment in upcoming %}
                    <div class="ui purple fluid card">
                        <div class="content">
                            <a class="ui header" href="{{ nav.entityRoutePath('app_deployment_view', deployment) }}">
                                <span class="ui right floated{% if deployment.isRunning() %} blink{% endif %}">
                                    {{ _self.displayDateTime(deployment.executeDate) }}
                                </span>
                                <i class="calendar check o icon"></i>
                                <div class="content">
                                    {{ deployment.name }}
                                </div>
                            </a>
                            {{ _self.deploymentItemList(deployment.items) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {{ _self.noUpcomingDeployment }}
        {% endif %}
        {% if nav.isRouteGranted('app_deployment_add') %}
            <a class="ui primary icon button" style="margin-top: 1em" href="{{ nav.entityRoutePath('app_deployment_add', environment) }}">
                <i class="plus icon"></i> Add Deployment
            </a>
        {% endif %}
    </div>

    <div class="ui tab" data-tab="requests">
        <table class="ui celled striped sortable purple selectable table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Name &amp; Description</th>
                    <th>Duration (Hour)</th>
                    <th>Requested By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for deploymentRequest in environment.deploymentRequests %}
                    <tr>
                        <td class="ui collapsing top aligned">{{ deploymentRequest }}</td>
                        <td class="ui top aligned">
                            <strong>{{ deploymentRequest.name }}</strong>
                            {% if deploymentRequest.description %}
                                <p>{{ deploymentRequest.description }}</p>
                            {% endif %}
                        </td>
                        <td class="ui collapsing top aligned">{{ deploymentRequest.duration }}</td>
                        <td class="ui collapsing top aligned">{{ _self.timestamps(deploymentRequest, 'margin: 0 0 5px 0; display: block;') }}</td>
                        <td class="ui collapsing top aligned">
                            {% if deploymentRequest.deployment %}
                                <a href="{{ nav.entityRoutePath('app_deployment_view', deploymentRequest.deployment) }}">Accepted</a>
                            {% else %}
                                <form method="POST" action="{{ nav.entityRoutePath('app_deployment_request_update', deploymentRequest) }}">
                                    {% if nav.isRouteGranted('app_deployment_request_update') %}
                                        <a class="ui icon button" title="Update" href="{{ nav.entityRoutePath('app_deployment_request_update', deploymentRequest) }}">
                                            <i class="ui pencil icon"></i>
                                        </a>
                                    {% endif %}
                                    {% if deploymentRequest.executeDate > now and security.isGranted('accept', deploymentRequest) %}
                                        <button class="ui icon button" title="Accept" type="submit" name="formAction" value="accept"
                                                onclick="return confirm('Accept this request and create a new deployment?');">
                                            <i class="ui check icon"></i>
                                        </button>
                                    {% elseif deploymentRequest.executeDate <= now %}
                                        <div>
                                            <span class="ui icon label" style="margin-top:2px;">
                                                <i class="ui exclamation triangle icon"></i> Expired
                                            </span>
                                        </div>
                                    {% endif %}
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="1000" class="center aligned">No deployment request has been created</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if nav.isRouteGranted('app_deployment_request_add') %}
            <a class="ui primary icon button" style="margin-top: 1em" href="{{ nav.entityRoutePath('app_deployment_request_add', environment) }}">
                <i class="plus icon"></i>
                Add Deployment Request
            </a>
        {% endif %}
    </div>

    <div class="ui tab" data-tab="past">
        <div class="ui stackable cards">
            {% for deployment in past %}
                <div class="ui purple fluid card">
                    <div class="content">
                        <a class="ui header" href="{{ nav.entityRoutePath('app_deployment_view', deployment) }}">
                            <span class="ui right floated{% if deployment.isRunning() %} blink{% endif %}">
                                {{ _self.displayDateTime(deployment.executeDate) }}
                            </span>
                            <i class="calendar check o icon"></i>
                            <div class="content">
                                {{ deployment.name }}
                            </div>
                        </a>
                        {{ _self.deploymentItemList(deployment.items) }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if allpastcount > recentcount %}
            <p style="padding-top: 1em;">
                Showing {{ recentcount }} latest past deployments only.
                <a href="{{ nav.entityRoutePath('app_environment_past', environment) }}">
                    Click here to view all {{ allpastcount }} past deployments
                    <i class="history icon"></i>.
                </a>
            </p>
        {% endif %}
    </div>

    <div class="ui tab" data-tab="templates">
        <table class="ui purple striped fluid structured celled table">
            <thead>
                <tr>
                    <th>Layer</th>
                    <th>Component</th>
                    <th>Activity Templates</th>
                </tr>
            </thead>
            <tbody>
                {% for layer,components in environment.ecosystem.getComponentsByLayer() %}
                    {% for component in components %}
                        <tr>
                            <td class="ui top aligned collapsing">
                                {{ layer|default('-') }}
                            </td>
                            <td class="ui top aligned">
                                <a href="{{ nav.entityRoutePath('app_component_view', component) }}">
                                    {{ component.name }}
                                </a>
                            </td>
                            <td class="ui top aligned">
                                {% if nav.isRouteGranted('app_activitytemplate_add') %}
                                    <a class="ui right floated primary button" href="{{ nav.entityRoutePath('app_activitytemplate_add', component, environment) }}">
                                        Add Activity Template
                                    </a>
                                {% endif %}
                                {% set templates = componentTemplates[layer][component~""]|default([]) %}
                                {% if templates|length > 0 %}
                                    <ul style="margin:0;padding-left:1.2em;">
                                        {% for template in templates %}
                                            <li{% if template.disabled %} style="text-decoration: line-through"{% endif %}>
                                                <a class="header" href="{{ nav.entityRoutePath('app_activitytemplate_view', template) }}">
                                                    {{ template.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    No activity template has been created
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ layer|default('-') }}</td>
                            <td colspan="1000" class="center aligned">
                                No component has been defined.
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="1000" class="center aligned">
                            No component layer has been defined. Ecosystem admin, please define component layers for this ecosystem.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
