{% extends 'base.html.twig' %}

{% block title %}Logins{% endblock %}

{% block content %}
    {{ _self.userlist(logins) }}
{% endblock %}

{% macro userlist(logins) %}
    <table class="ui celled striped sortable table">
        <thead>
            <tr>
                <th>Method</th>
                <th>Username/ID</th>
                <th>Email</th>
                <th>Last Login</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for login in logins %}
                <tr class="ui top aligned">
                    <td>{{ login.username }}</td>
                    <td>{{ login.method }}</td>
                    <td>{{ login.email }}</td>
                    {% if login.lastLogin %}
                        <td class="ui collapsing" data-sort-value="{{ login.lastLogin.getTimestamp() }}">
                            {{ login.lastLogin|date('Y-m-d h:i A') }}
                        </td>
                    {% else %}
                        <td class="ui collapsing" data-sort-value="0">
                            Unknown
                        </td>
                    {% endif %}
                    <td>
                        {% if login.user %}
                            <a href="{{ path('app_admin_users_update', {'userId': login.user.id}) }}">
                                {{ login.user.fullname }}
                            </a>
                        {% else %}
                            <em>Pending</em>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10" class="ui center aligned">Nothing to list</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endmacro %}