{% extends 'base.html.twig' %}

{% block title %}{{ component|default('Add Component') }} @ {{ ecosystem }}{% endblock %}

{% set is_existing = (component.created|default(null) is not empty) %}

{% block content %}
    <form class="disable-on-submit confirm-on-leave" method="POST">
        <div class="ui form">
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Identifier</label>
                <input placeholder="Component identifier (max 15 alphanumeric, dash and underscore characters only)" type="text" name="identifier" value="{{ component.identifier|default(null) }}" {% if is_existing %}disabled="disabled"{% endif %} />
                {{ _self.fieldError(errors|default([]), 'identifier') }}
            </div>
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Name</label>
                <input placeholder="User friendly component name (max 100 characters)" type="text" name="name" value="{{ component.name|default(null) }}" />
                {{ _self.fieldError(errors|default([]), 'name') }}
            </div>
            {% if component.ecosystem.layers|length > 0 %}
                <div class="ui field basic segment">
                    <label class="ui top attached large label">Layer</label>
                    <select name="layer" class="ui fluid dropdown">
                        {% for layer in component.ecosystem.layers %}
                            <option {{ ifelse(component.layer|default(null) == layer, 'selected') }}>{{ layer }}</option>
                        {% endfor %}
                    </select>
                    {{ _self.fieldError(errors|default([]), 'layer') }}
                </div>
            {% endif %}
            <div class="ui field">
                <button type="submit" class="ui submit primary button" name="formAction" value="save">
                    {% if is_existing %}Save{% else %}Add{% endif %} Component
                </button>
                <a href="{{ cancel_path|default('javascript:window.history.go(-1)') }}" class="ui secondary button">Cancel</a>
                {% if is_existing and component.canDelete() %}
                    <button type="submit" class="ui red right floated button" name="formAction" value="delete"
                            onclick="return confirmOperation('Are you sure you want to delete? Enter component name to delete', {{ component.name|json_encode() }});">
                        Delete
                    </button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
