{% extends 'base.html.twig' %}

{% block title %}{{ component }} @ {{ ecosystem }}{% endblock %}

{% block heading %}
    {{ parent() }}
    {% if nav.isRouteGranted('app_component_update') %}
        <a class="ui icon button right floated no-print" href="{{ nav.entityRoutePath('app_component_update', component) }}">
            <i class="ui pencil icon"></i>
            <span class="hide-on-mobile">Update</span>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="ui equal width grid">
        {% for environment in ecosystem.environments %}
            <div class="ui column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">
                            {{ environment.name }}
                        </div>
                    </div>
                    <div class="content">
                        {% for template in ds.getActivityTemplates(environment, component, true) %}
                            <a class="ui fluid card" href="{{ nav.entityRoutePath('app_activitytemplate_view', template) }}">
                                <div class="content">
                                    <div class="description" style="font-size: 110%; font-weight: bold;">{{ template.name }}</div>
                                    <div class="meta">({{ template.class }})</div>
                                </div>
                            </a>
                        {% else %}
                            No activity template has been created for this component and this environment
                        {% endfor %}
                    </div>
                    {% if nav.isRouteGranted('app_activitytemplate_add') %}
                        <a class="ui tiny bottom attached primary button" href="{{ nav.entityRoutePath('app_activitytemplate_add', component, environment) }}">
                            Add Activity Template
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
