<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon" />
        <!-- Site Properties -->
        <title>{% block title %}Renogen{% endblock %}</title>

        <!-- You MUST include jQuery before Fomantic -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-address@1.6/src/jquery.address.min.js"></script>        
        <script src="https://cdn.jsdelivr.net/npm/jquery.dirty@0.8.4/dist/jquery.dirty.js"></script>
        <script src="{{ asset('js/jquery.tablesort.js') }} "></script>

        <!-- Include Fomantic and then main JS & CSS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9/dist/semantic.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9/dist/semantic.min.js"></script>
        <script type="module" src="{{ asset('js/mermaid.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />

        {% block head %}
        {% endblock head %}            
    </head>
    <body>
        {% block body %}
            <div id="body">
                <div id="topbar" class="ui fixed stackable inverted {{ theme }} menu no-print">
                    <a href="{{ path('app_home') }}" style="padding: 5pt 30pt 5pt 0;">
                        <img src="{{ asset('img/branding.png') }}" alt="Renogen" />
                    </a>
                    {% block menubar %}
                        {% if headers|default([])|length > 0 %}
                            {% for crumb in headers %}
                                {% set extraclasses = [] %}
                                {% if loop.last %}
                                    {% set extraclasses = extraclasses|merge(['active']) %}
                                {% else %}
                                    {% set extraclasses = extraclasses|merge(['hide-on-mobile']) %}
                                {% endif %}
                                {{ _self.topmenu_item(crumb.text, crumb.url, crumb.icon, extraclasses|join(' ')) }}
                            {% endfor %}
                        {% endif %}
                    {% endblock %}
                    <div class="right menu">
                        {% block menuright %}
                        {% endblock %}
                        {% if security.isGranted('IS_AUTHENTICATED') %}
                            <div class="ui dropdown item">
                                <i class="ui user circle icon"></i> {{ ds.user.fullname|default(ds.user.email|default('Unregistered')) }}
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {% block usermenu %}
                                        {% if ecosystem is defined and security.isGranted('admin', ecosystem) %}
                                            <span class="item">
                                                <i class="ui crown icon"></i>
                                                {{ ecosystem.displayTitle }} ecosystem admin
                                            </span>
                                            <div class="ui divider"></div>
                                        {% endif %}
                                        {% if squad is defined %}
                                            {% set membership = ds.getSquadMembership(squad, ds.user) %}
                                            {% if membership %}
                                                <span class="item">
                                                    Squad: <strong>{{ squad.displayTitle }}</strong>
                                                </span>
                                                <span class="item">
                                                    Role: <strong>{{ membership.role|title }}</strong>
                                                </span>
                                                <div class="ui divider"></div>
                                            {% endif %}
                                        {% endif %}
                                    {% endblock %}
                                    {{ _self.topmenu_item('Update Profile', path('app_profile_update'), 'pencil') }}
                                    {{ _self.topmenu_item('Guides', path('app_guides'), 'question circle outline') }}
                                    {{ _self.topmenu_item('Logout', path('app_logout'), 'sign out', '', {'onclick':"return confirm('Confirm log out?')"}) }}
                                    {% if security.isGranted('ROLE_ADMIN') %}
                                        <div class="ui divider"></div>
                                        <div class="header">Administrations</div>
                                        {{ _self.topmenu_item('Add Ecosystem', path('app_ecosystem_add'), 'sitemap') }}
                                        {{ _self.topmenu_item('Manage Users', path('app_admin_users'), 'users') }}
                                        {{ _self.topmenu_item('Manage Logins', path('app_admin_logins'), 'key') }}
                                        {#
                                        {{ _self.topmenu_item('Manage Authentication', path('app_admin_auth'), 'lock') }}
                                        {{ _self.topmenu_item('View Archived Projects', path('app_archived'), 'archive') }}
                                        #}
                                        {{ _self.topmenu_item('View PHP Info', path('app_admin_phpinfo'), 'php') }}
                                        {{ _self.topmenu_item('View Logs', path('app_admin_viewlogs',[],'bottom'), 'bug') }}                                            
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="ui link item"><i class="ui sign in icon"></i> Login</a>
                        {% endif %}
                    </div>
                    {% block belowtopmenu %}
                    {% endblock %}
                </div>
                <div id="topfiller" class="no-print"></div>

                {% for label,messages in app.flashes %}
                    {% for message in messages %}
                        <div class="ui message {{ label }}" style="margin:1em">
                            <i class="close icon"></i>
                            {{ message }}
                        </div>  
                    {% endfor %}
                {% endfor %}

                <div class="ui basic segment">
                    {% block container %}
                        {% if headers|default(null) %}
                            {% block headers %}
                                {% if headers|length > 1 %}
                                    <div style="margin-bottom:10px">
                                        <div class="ui huge breadcrumb">
                                            {% block breadcrumb %}
                                                {% for crumb in headers|slice(0, headers|length - 1) %}
                                                    <a class="section {{ crumb.extraCssClasses|join(' ') }}" href="{{ crumb.url }}">
                                                        {% if crumb.icon %}
                                                            {% if crumb.icon|slice(0,5) == 'data:' %}
                                                                <img src="{{ crumb.icon }}" title="{{ crumb.tooltip }}" style="max-height:24px; width: auto; vertical-align: middle;" />
                                                            {% else %}
                                                                <i class="ui {{ crumb.icon }} icon" title="{{ crumb.tooltip }}"></i>
                                                            {% endif %}
                                                        {% endif %}
                                                        {{ crumb.text }}
                                                        <i class="right chevron icon divider"></i>
                                                    </a>
                                                {% endfor %}
                                            {% endblock breadcrumb %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% set header = headers|last %}
                                <h1 class="ui header inline">
                                    {% block heading %}
                                        {% if header.icon %}
                                            {% if header.icon|slice(0,5) == 'data:' %}
                                                <img src="{{ header.icon }}" title="{{ header.tooltip }}" style="max-height:40px; width: auto;"/>
                                            {% else %}
                                                <i class="ui {{ header.icon }} icon" title="{{ header.tooltip }}"></i>
                                            {% endif %}
                                        {% endif %}
                                        <div class="content {{ header.extraCssClasses|join(' ') }}">
                                            {% block headertext %}
                                                {{ header.text }}
                                            {% endblock headertext %}
                                        </div>
                                    {% endblock heading %}
                                </h1>
                            {% endblock headers %}
                            <div class="ui divider" style="clear:both"></div>
                        {% endif %}
                        {% block content %}
                            {{ content|default(null)|raw }}
                        {% endblock content %}
                    {% endblock container %}
                </div>

                {% if block('footer')|trim is not empty %}
                    <div id="footer" class="ui basic segment">
                        <div class="ui divider"></div>
                        <a name="bottom"></a>
                        {% block footer %}
                            <span class="ui grey text">
                                All timestamps are in {{ "now"|date('e')|replace({'_':' '}) }} timezone ({{ "now"|date('P') }} from GMT).
                                All dates use 'yyyy-mm-dd' format.
                                Server time when the page was generated is {{ "now"|date('Y-m-d h:i A P') }}.
                            </span>
                        {% endblock %}
                    </div>
                {% endif %}
                <button id="scrollToTop" class="circular ui large icon purple basic button">
                    <i class="icon up arrow"></i>
                </button>
            </div>
        {% endblock body %}
    </body>
</html>

{% macro topmenu_item(text, url, icon, extra_classes, attrs={}) %}
    <a class="ui link item {{ extra_classes|default(null) }}" href="{{ url }}"
       {% for a,v in attrs %}
           {{ a }}="{{ v|escape('html') }}"
       {% endfor %}
       >
        {% if icon %}
            {% if icon|slice(0,5) == 'data:' %}
                <img src="{{ icon }}" style="max-height: 18px; width: auto; vertical-align: middle; margin-right: 5px;" />
            {% else %}
                <i class="ui {{ icon }} icon"></i>
            {% endif %}
        {% endif %}
        {{ text }}
    </a>
{% endmacro %}

{% macro fieldError(errors, fieldname, pointing) %}
    {% if errors[fieldname] is defined %}
        {% if errors[fieldname] is iterable %}
            {% for error in errors[fieldname] %}
                <div class="ui negative red label {{ pointing }} pointing">{{ error }}</div>
            {% endfor %}
        {% else %}
            <div class="ui negative red label {{ pointing }} pointing">{{ errors[fieldname] }}</div>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro dateField(id, name, value, placeholder, mode, minDate) %}
    <div class="ui calendar" id="{{ id }}">
        <div class="ui input left icon action">
            <i class="calendar icon"></i>
            <input type="text" name="{{ name }}" placeholder="{{ placeholder }}" value="{{ value }}" autocomplete="off" />
            <button class="ui button" type="button" onclick="return $('#{{ id }}').calendar('clear');">Clear</button>
        </div>
        {% if value %}
            <div>
                Current value = <a href="#" onclick="return $('#{{ id }}').calendar('set date', '{{ value }}');">{{ value }}</a>
            </div>
        {% endif %}
    </div>
    <script>
        $(function () {
            $('#{{ id }}').calendar(dateFieldConfig(null, {{ mode|default('datetime')|json_encode|raw }}));
        });
    </script>
{% endmacro %}

{% macro displayDateTime(datetime) %}
    {% set time = datetime|date('h:i A') %}
    <span class="nowrap">{{ datetime|date('Y-m-d') }}</span>
    {% if time != '12:00 AM' %}
        <span class="nowrap">{{ time }}</span>
    {% endif %}
{% endmacro %}

{% macro itemStatusLabel(item, detailed, label_type) %}
    {% if detailed %}
        {% set log = item.getStatusLog(item.status) %}
    {% endif %}
    {% set config = constant('App\\Entity\\Item::ALL_STATUSES')[item.status] %}
    {% if item.status == 'Approved' %}
        <div class="ui green {{ label_type|default('tag') }} label">
            <i class="ui {{ config.icon }} icon"></i>
            {{ item.status }}
            {% if detailed %}
                <span class="detail">
                    <i class="ui clock icon"></i>{{ log.created|date('Y-m-d h:ia') }}
                </span>
                <span class="detail">
                    <i class="ui user icon"></i>{{ log.createdBy.fullname|default('Anonymous') }}
                </span>
            {% endif %}
        </div>
    {% elseif item.status == 'Rejected' %}
        <div class="ui red {{ label_type|default('tag') }} label">
            <i class="ui {{ config.icon }} icon"></i>
            {{ item.status }}
            {% if detailed %}
                <span class="detail">
                    <i class="ui clock icon"></i>{{ log.created|date('Y-m-d h:ia') }}
                </span>
                <span class="detail">
                    <i class="ui user icon"></i>{{ log.createdBy.fullname|default('Anonymous') }}
                </span>
            {% endif %}
        </div>
    {% else %}
        <div class="ui {{ config.color|default('red') }} {{ label_type|default('tag') }} label">
            <i class="ui {{ config.icon }} icon"></i>
            {{ item.status }}
        </div>
    {% endif %}
{% endmacro %}

{% macro itemCategoryLabel(item, ext_class) %}
    <span class="ui {{ ext_class }} tag label">
        <i class="ui tag icon"></i>{{ item.category }}
    </span>
{% endmacro %}

{% macro timestamps(entity, styles='') %}
    {% if entity.created %}
        <div class="ui label" style="{{ styles }}">
            Created
            <span class="detail"><i class="ui clock icon"></i>{{ entity.created|date('Y-m-d h:i A') }}</span>
            <span class="detail"><i class="ui user icon"></i>{{ entity.createdBy.fullname|default('Anonymous') }}</span>
        </div>
    {% endif %}
    {% if entity.updated %}
        <div class="ui label" style="{{ styles }}">
            Updated 
            <span class="detail"><i class="ui clock icon"></i>{{ entity.updated|date('Y-m-d h:i A') }}</span>
            <span class="detail"><i class="ui user icon"></i>{{ entity.updatedBy.fullname|default('Anonymous') }}</span>
        </div>
    {% endif %}
{% endmacro %}


{% macro describe(description, label) %}
    {% if description %}
        <div class="ui fluid accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                Click to show/hide description
            </div>
            <div class="content">
                <div class="ui message">
                    {{ description|nl2br }}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro deploymentItemProgressBars(items, is_small) %}
    {% set statusinfos = { labels:[], colors:[], counts:[] } %}
    {% set sc = items|collfilter({'status': constant('App\\Entity\\Item::STATUS_REJECTED')})|length + items|collfilter({'status': constant('App\\Entity\\Item::STATUS_FAILED')})|length %}
    {% if sc > 0 %}
        {% set statusinfos = statusinfos|merge({ labels: statusinfos.labels|merge([ 'Rejected/Failed' ]), colors: statusinfos.colors|merge([ 'red' ]), counts: statusinfos.counts|merge([ sc ]) }) %}
    {% endif %}
    {% set statuses = constant('App\\Entity\\Item::STATUSES')|keys %}
    {% for s in statuses %}
        {% set sc = items|collfilter({'status': s})|length %}
        {% if sc > 0 %}
            {% set statusinfos = statusinfos|merge({ labels: statusinfos.labels|merge([ s ]), colors: statusinfos.colors|merge([ constant('App\\Entity\\Item::STATUSES')[s].color ]), counts: statusinfos.counts|merge([ sc ]) }) %}
        {% endif %}
    {% endfor %}
    {% set id = random(1000,9999) %}
    <div class="ui {% if is_small %}small{% endif %} multiple progress hide-on-mobile" id="deployment-progress-{{ id }}" style="margin: 10px 0 0 0" data-total="{{ items|length }}" data-value="{{ statusinfos.counts|join(',') }}">
        {% for color in statusinfos.colors %}
            <div class="{{ color }} bar" title="{{ statusinfos.labels[loop.index0] }}: {{ statusinfos.counts[loop.index0] }}" >
                <div class="progress"></div>
            </div>
        {% endfor %}
    </div>
    <script>
        $(function () {
        $('#deployment-progress-{{ id }}').progress({
        autoSuccess: false,
                text: { {% if is_small %} percent: '{value}' {% else %} percent: '{bar} : {value}', bars:{{ statusinfos.labels|json_encode|raw }} {% endif %} }
        });
        }
        );
    </script>
{% endmacro %}

{% macro deploymentItemList(items, simple) %}
    {% set item_count = items.count() %}
    {% if item_count > 0 %}
        {% if not simple %}
            {{ _self.deploymentItemProgressBars(items, true) }}
        {% endif %}
        <div style="overflow: auto; margin-top: 10px">
            <table class="ui very compact small sortable purple selectable striped table">
                <thead>
                    <tr>
                        <th>Squad</th>
                        <th>Item</th>
                        <th>Category</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td class="ui collapsing">
                                {{ item.squad.displayTitle }}
                            </td>
                            <td>
                                <a href="{{ nav.entityRoutePath('app_item_view',item) }}" style="display:block">
                                    {{ item.displayTitle }}
                                </a>
                            </td>
                            <td class="ui collapsing">
                                {{ item.category }}
                            </td>
                            <td class="collapsing" data-sort-value="{{ constant('App\\Entity\\Item::STATUSES')[item.status].sequence|default(0) }}">
                                <i class="ui {{ item.statusIcon }} icon"></i>{{ item.status }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="meta">
            <div class="ui basic segment">
                <i class="ui warning sign icon"></i>
                There is no deployment item yet
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro arrayTable(arr,level) %}
    {% if arr is iterable %}
        <table class="ui compact {% if level|default(0) > 0 %}small{% endif %} tablet stackable table">
            {% for key,val in arr %}
                <tr>
                    {% if not (key matches '/^[0-9]+$/') %}
                        <td class="top aligned collapsing" style="overflow:auto">
                            {% if level is not defined or level == 0 %}
                                <strong>{{ key }}</strong>
                            {% else %}
                                {{ key }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <td class="ui top aligned" style="overflow:auto">
                        {{ _self.prettyDisplay(val,level|default(0)+1) }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {{ _self.prettyDisplay(arr) }}
    {% endif %}
{% endmacro %}

{% macro prettyDisplay(val,level) %}
    {% if val is empty %}
        <em>-- Not Specified --</em>
    {% elseif val is instanceof('\\App\\Entity\\FileLink') %}
        {{ val.getHtmlLink(nav)|raw }}
    {% elseif attribute(val, 'templateString') is defined and attribute(val, 'templateContext') is defined %}
        {{ include(template_from_string('{% import "base.html.twig" as base %}' ~ val.templateString), val.templateContext) }}
    {% elseif val is iterable %}
        {{ _self.arrayTable(val,level|default(0)+1) }}
    {% elseif val|trim|first == '<' %}
        {{ val|raw }}
    {% else %}
        {{ val|nl2br }}
    {% endif %}
{% endmacro %}

{% macro copyableTextField(label, value) %}
    <div class="ui left action input fluid">
        <button class="ui icon very tiny button" onclick="inputCopier($(this).siblings('input[type=text]'), '{{ label }}')" title="Click to copy to clipboard">
            <i class="copy outline icon"></i>
        </button>
        <input type="text" readonly="readonly" value="{{ value|escape('html') }}" />
    </div>
{% endmacro %}

{% macro copyableSourceField(label, value) %}
    <div class="ui corner form">
        <div class="ui left corner labeled fluid input">
            <a class="ui left corner label" onclick="inputCopier($(this).siblings('textarea'), '{{ label }}')" title="Click to copy to clipboard">
                <i class="ui copy outline icon"></i>
            </a>
            <textarea readonly="readonly" style="font-family: monospace">{{ value }}</textarea>
        </div>
    </div>
{% endmacro %}

{% macro textLink(text, link) %}
    <a href="{{ link|escape('html') }}">{{ text }}</a>
{% endmacro %}

{% macro readonlyCheckbox(checked) %}
    <div class="ui read-only checkbox">
        <input type="checkbox" {% if checked %}checked="checked"{% endif %} />
    </div>
{% endmacro %}

{% macro noUpcomingDeployment() %}
    <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="ui calendar plus o icon"></i>
            There is no upcoming deployment. <br />
            Members with 'approval' role can proceed to add a new deployment. <br />
            Members with 'entry' role can proceed to add a new deployment request.
        </div>
    </div>
{% endmacro %}