<center>
    <h1>Hello {{ username }}!</h1>
    <h2>
        It seems that you forgot your password to Renogen.
    </h2>
    <h3>
        Please go to the following URL to reset your password.
    </h3>
    <blockquote style="border: 1px solid silver; border-radius: 5px; padding: 1em; color: #000; background-color: #ffffcc">
        <a href="{{ reset_url }}">{{ reset_url }}</a>.
    </blockquote>
    <p>Note: please ignore this email if you did not fill in the "Forgot Password" form.</p>
</center>