<center>
    <h1>Hello {{ username }}!</h1>
    <h2>
        Welcome to Renogen!
    </h2>
    <h3>
        Please go to following URL to set your password and complete your registration.
    </h3>
    <blockquote style="border: 1px solid silver; border-radius: 5px; padding: 1em; color: #000; background-color: #ffffcc">
        <a href="{{ reset_url }}">{{ reset_url }}</a>.
    </blockquote>
</center>