{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block head %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        body {
            background-color: #c0c0c0;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="ui center aligned basic grid segment" style="margin: auto 0; padding: 1em; height: 100%">
        <div class="ui purple inverted piled segment" style="margin: auto 0; width: 32em">
            <a style="display: block; padding: 1em 0;" href="{{ path('app_home') }}">
                <img src="{{ asset('img/branding.png') }}" />
            </a>
            {% set flashes = app.flashes %}
            {% if flashes|length > 0 %}
                {% for label,messages in flashes %}
                    {% for message in messages %}
                        <div class="ui message {{ label }}" style="margin:1em">
                            <i class="close icon"></i>
                            {{ message }}
                        </div>  
                    {% endfor %}
                {% endfor %}
            {% elseif message|default(null) %}
                {% if message.negative %}
                    <div class="ui negative inverted message"><i class="ui exclamation triangle icon"></i> {{ message.text }}</div>
                {% else %}
                    <div class="ui positive message"><i class="ui info icon"></i> {{ message.text }}</div>
                {% endif %}
            {% else %}
                Renogen is a release management approval & tracking platform
            {% endif %}
            <div class="ui form">
                <div class="ui large basic segment">
                    <form class="disable-on-submit" method="POST">
                        <div class="required field">
                            <div class="ui left icon input">
                                <input type="text" name="username" placeholder="Username" value="{{ last_username|default(null) }}" {% if not last_username|default(null) %}autofocus{% endif %} />
                                <i class="ui user icon"></i>
                            </div>
                        </div>
                        <div class="required field">
                            <div class="ui left icon input">
                                <input type="password" name="password" placeholder="Password" value="" {% if last_username|default(null) %}autofocus{% endif %} />
                                <i class="ui key icon"></i>
                            </div>
                        </div>
                        {% if get_env('GOOGLE_RECAPTCHA_SITE_KEY') %}
                            <div class="field">
                                <center>
                                    <div class="g-recaptcha" data-sitekey="{{ get_env('GOOGLE_RECAPTCHA_SITE_KEY') }}"></div>
                                    {{ _self.fieldError(errors|default([]), 'recaptcha') }}
                                </center>
                            </div>
                        {% endif %}
                        <div class="field">
                            <div class="ui inverted checkbox">
                                <input type="checkbox" name="_remember_me" checked/>
                                <label>Keep me logged in until I log out</label>
                            </div>
                        </div>
                        <div class="field center aligned">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}" />
                            <input type="hidden" name="last_page" value="{{ last_page|default(null) }}" />
                            <button id="login_button" class="ui big black button" type="submit"><i class="ui unlock icon"></i> Login</button>
                            <div>
                                <a href="{{ path('app_forgotpassword') }}" class="ui orange tertiary button">Forgot password?</a>
                            </div>
                        </div>
                    </form>
                    {% if providers|length > 0 %}
                        <div class="ui horizontal divider">
                            Or
                        </div>
                        <div class="ui center aligned">
                            <h3 class="ui inverted header">Login using:</h3>
                            {% for provider in providers %}
                                <div class="ui big buttons" style="margin-top: 5px;">
                                    <a href="{{ path('oauth2_connect_start', {'client':provider}) }}" class="ui secondary button">
                                        <i class="ui {{ provider }} openid icon"></i> {{ provider|title }}
                                    </a>
                                    <div class="or" data-text="+"></div>
                                    <a href="{{ path('oauth2_connect_start', {'client':provider}) }}?_remember_me=1" class="ui plain button">
                                        <small>remember</small>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if get_env('MAILER_DSN') and not last_username %}
                        <div class="ui horizontal divider">
                            Or
                        </div>
                        <a class="ui big silver button" href="{{ path('app_register',[],true) }}"><i class="ui sign in alternate icon"></i> Register</a>
                    {% endif %}
                </div>
            </div>
            {{ bottom_message|default(null) }}
        </div>
    </div>
{% endblock %}
