{% extends 'base.html.twig' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
    <form class="disable-on-submit confirm-on-leave" method="POST">
        <div class="ui form">
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Full Name</label>
                <input placeholder="Full name (max 255 characters)" type="text" name="fullname" value="{{ user.fullname|default(ds.currentSecurityUser.fullname) }}" />
                {{ _self.fieldError(errors|default([]), 'fullname') }}
            </div>
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Email</label>
                <input placeholder="Email address" type="text" name="email" value="{{ user.email|default(ds.currentSecurityUser.email) }}" />
                {{ _self.fieldError(errors|default([]), 'email') }}
            </div>
            <div class="ui field">
                <input type="submit" class="ui submit primary button" value="Save Profile" />
            </div>
        </div>
    </form>

    {% if user %}
        <h3>Login Methods</h3>
        <table class="ui celled striped sortable table">
            <thead>
                <tr>
                    <th>Method</th>
                    <th>Username/ID</th>
                    <th>Email</th>
                    <th>Last Login</th>
                </tr>
            </thead>
            <tbody>
                {% for login in user.logins %}
                    <tr class="ui top aligned">
                        <td>{{ login.method }}</td>
                        <td>{{ login.username }}</td>
                        <td>{{ login.email }}</td>
                        {% if login.lastLogin %}
                            <td class="ui collapsing" data-sort-value="{{ login.lastLogin.getTimestamp() }}">
                                {{ login.lastLogin|date('Y-m-d h:i A') }}
                            </td>
                        {% else %}
                            <td class="ui collapsing" data-sort-value="0">
                                Unknown
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10" class="ui center aligned">Nothing to list</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
