{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block head %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        body {
            background-color: #c0c0c0;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="ui center aligned basic grid segment" style="margin: auto 0; padding: 1em; height: 100%">
        <div class="ui purple inverted piled segment" style="margin: auto 0; width: 32em">
            <a style="display: block; padding: 1em 0;" href="{{ path('app_home') }}">
                <img src="{{ asset('img/branding.png') }}" />
            </a>
            <div class="ui form">
                {% if message|default(null) %}
                    {% if message.negative %}
                        <div class="ui negative inverted message"><i class="ui exclamation triangle icon"></i> {{ message.text }}</div>
                    {% else %}
                        <div class="ui positive message"><i class="ui info icon"></i> {{ message.text }}</div>
                    {% endif %}
                {% endif %}
                <div class="ui big basic segment">
                    <h1 class="ui inverted header">
                        Forgot Password
                    </h1>
                    <form class="disable-on-submit" method="POST">
                        <div class="required field">
                            <div class="ui left icon input">
                                <input type="text" name="username" placeholder="Enter your username" value="{{ username|default(null) }}" {% if not username|default(null) %}autofocus{% endif %} />
                                <i class="ui user icon"></i>
                            </div>
                            {{ _self.fieldError(errors|default([]), 'username') }}
                        </div>
                        {% if recaptcha['sitekey'] %}
                            <div class="field center aligned">
                                <div class="g-recaptcha" data-sitekey="{{ recaptcha['sitekey'] }}"></div>
                                {{ _self.fieldError(errors|default([]), 'recaptcha') }}
                            </div>
                        {% endif %}
                        <div class="field center aligned">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}" />
                            <button id="login_button" class="ui big black button" type="submit">
                                <i class="ui sign in alternate icon"></i>
                                Email Reset Password Link
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            {{ bottom_message|default(null) }}
        </div>
    </div>
{% endblock %}
