{% extends 'base.html.twig' %}

{% block title %}{{ ecosystem|default('Add Ecosystem') }}{% endblock %}
{% set is_existing = (ecosystem.created|default(null) is not empty) %}

{% block content %}
    <form class="disable-on-submit confirm-on-leave" method="POST">
        <div class="ui form">
            <div class="ui required field basic segment">
                <label class="ui top attached large label">ID</label>
                <input placeholder="Ecosystem id (max 30 alphanumeric, dash and underscore characters only)" type="text" name="id" value="{{ ecosystem.id|default(null) }}" {% if is_existing %}disabled="disabled"{% endif %} />
                {{ _self.fieldError(errors|default([]), 'id') }}
            </div>
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Name</label>
                <input placeholder="User friendly ecosystem name (max 100 characters)" type="text" name="name" value="{{ ecosystem.name|default(null) }}" />
                {{ _self.fieldError(errors|default([]), 'name') }}
            </div>
            <div class="ui field basic segment">
                <label class="ui top attached large label">Description</label>
                <textarea name="description" rows="3">{{ ecosystem.description|default(null) }}</textarea>
                {{ _self.fieldError(errors|default([]), 'description') }}
            </div>
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Layers</label>
                <textarea placeholder="Layers inside the ecosystem (one per row)" name="layers" rows="3">{{ ecosystem.layers|default([])|join('\n') }}</textarea>
                {{ _self.fieldError(errors|default([]), 'layers') }}
            </div>
            <div class="ui field basic segment">
                <label class="ui top attached large label">Private</label>
                <div class="ui checkbox">
                    <input type="hidden" name="private" value="0" />
                    <input type="checkbox" name="private" value="1" {{ ifelse(ecosystem.private|default(false),'checked') }} />
                    <label>Set to private to hide this ecosystem from all except to members, ecosystem admins and super administrators</label>
                </div>
            </div>
            <div class="ui field">
                <button type="submit" class="ui submit primary button" name="formAction" value="save">
                    {% if is_existing %}Save{% else %}Add{% endif %} Ecosystem
                </button>
                <a href="{{ cancel_path|default('javascript:window.history.go(-1)') }}" class="ui secondary button">Cancel</a>
                {% if is_existing and security.isGranted('ROLE_ADMIN') and ecosystem.canDelete() %}
                    <button type="submit" class="ui red right floated button" name="formAction" value="delete"
                            onclick="return confirmOperation('Are you sure you want to delete? Enter ecosystem name to delete', {{ ecosystem.name|json_encode() }});">
                        Delete
                    </button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
