{% extends 'base.html.twig' %}

{% block title %}{{ ecosystem }}{% endblock %}

{% block headers %}
    {{ parent() }}
    {{ _self.describe(ecosystem.description, 'ecosystem') }}
{% endblock %}

{% block heading %}
    <div class="ui labels right-buttons">
        {% if nav.isRouteGranted('app_ecosystem_update') %}
            <div class="ui right floated buttons no-print">
                <a class="ui button" href="{{ nav.entityRoutePath('app_ecosystem_update',ecosystem) }}">
                    <i class="ui pencil icon"></i>
                    <span class="hide-on-mobile">Update</span>
                </a>
                <div class="ui floating dropdown icon button">
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        {% if nav.isRouteGranted('app_environment_add') %}
                            <a class="ui item" href="{{ nav.entityRoutePath('app_environment_add', ecosystem) }}"><i class="ui globe icon"></i>Add Environment</a>
                        {% endif %}
                        {% if nav.isRouteGranted('app_squad_add') %}
                            <a class="ui item" href="{{ nav.entityRoutePath('app_squad_add', ecosystem) }}"><i class="ui users icon"></i>Add Squad</a>
                        {% endif %}
                        {% if nav.isRouteGranted('app_component_add') %}
                            <a class="ui item" href="{{ nav.entityRoutePath('app_component_add', ecosystem) }}"><i class="ui cubes icon"></i>Add Component</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {{ parent() }}
    {% if ecosystem.ecosystemAdmins.count() %}
        {% set ecoAdmins = [] %}
        {% for ecoAdmin in ecosystem.ecosystemAdmins %}
            {% set ecoAdmins = ecoAdmins|merge([ecoAdmin.user.fullname]) %}
        {% endfor %}
        <div>
            <div class="ui label" style="float: right; margin-bottom: 5px">
                {{ ifelse(ecoAdmins|length > 1, 'Administrators', 'Administrator') }}:
                {{ ecoAdmins|join(', ') }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="ui tabular secondary pointing menu">
        <div class="item" data-tab="environments">
            <h2 class="ui header">
                <span>
                    <i class="ui globe icon"></i>
                    <span class="hide-on-mobile">Environments</span>
                    <span class="ui circular large label">{{ ecosystem.environments.count() }}</span> 
                </span>
            </h2>
        </div>
        <div class="item" data-tab="squads">
            <h2 class="ui header">
                <span>
                    <i class="ui users icon"></i>
                    <span class="hide-on-mobile">Squads</span>
                    <span class="ui circular large label">{{ squads|length }}</span> 
                </span>
            </h2>
        </div>
        <div class="item" data-tab="components">
            <h2 class="ui header">
                <span>
                    <i class="ui cubes icon"></i><span class="hide-on-mobile">Components</span>
                    <span class="ui circular large label">{{ ecosystem.components.count() }}</span> 
                </span>
            </h2>
        </div>
    </div>

    <div class="ui tab" data-tab="environments">
        {% if ecosystem.environments|length > 0 %}
            <div class="ui equal width stackable grid">
                {% for environment in ecosystem.environments %}
                    <div class="ui column">
                        <h3 class="ui top attached block header">
                            <a href="{{ nav.entityRoutePath('app_environment_view', environment) }}">
                                {{ environment.name }}
                            </a>
                        </h3>
                        {% set upcoming = environment.upcoming(1000) %}
                        {% if upcoming|length > 0 %}
                            <div class="ui attached segment">
                                <div class="content">
                                    {% for deployment in upcoming %}
                                        <div class="ui purple fluid card">
                                            <div class="content">
                                                <a class="ui header" href="{{ nav.entityRoutePath('app_deployment_view', deployment) }}">
                                                    <span class="ui right floated{% if deployment.isRunning() %} blink{% endif %}">
                                                        {{ _self.displayDateTime(deployment.executeDate) }}
                                                    </span>
                                                    <i class="calendar check o icon"></i>
                                                    <div class="content">
                                                        {{ deployment.name }}
                                                    </div>
                                                </a>
                                                {{ _self.deploymentItemList(deployment.items) }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="ui attached warning message">
                                No active/upcoming deployment. 
                                Members with 'approval' role in any of the squads can proceed to add a new deployment.
                                Members with 'entry' role can proceed to add a new deployment request.
                            </div>
                        {% endif %}
                        {% if nav.isRouteGranted('app_deployment_add') %}
                            <a class="ui tiny primary button bottom attached no-print" href="{{ nav.entityRoutePath('app_deployment_add', environment) }}">
                                <i class="ui plus icon"></i>Add Deployment
                            </a>
                        {% elseif nav.isRouteGranted('app_deployment_request_add') %}
                            <a class="ui tiny primary button bottom attached no-print" href="{{ nav.entityRoutePath('app_deployment_request_add', environment) }}">
                                <i class="ui plus icon"></i> Add Deployment Request
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="ui warning message">
                No environment has been defined. Please request an admin to add environments.
            </div>
        {% endif %}
    </div>

    <div class="ui tab" data-tab="squads">
        <table class="ui large padded striped sortable purple fluid celled table">
            <thead>
                <tr>
                    <th class="ui collapsing"><i class="ui star icon"></i></th>
                    <th>Squad Name</th>
                    <th>Role</th>
                    <th>Upcoming Deployments</th>
                </tr>
            </thead>
            <tbody>
                {% for d in squads %}
                    {% set squad = d.squad %}
                    <tr>
                        <td class="ui top aligned collapsing" data-sort-value="{{ d.favourite }}">
                            {% if d.role %}
                                <div class="ui yellow rating favorite-squad" data-rating="{{ d.favourite }}" data-url="{{ nav.entityRoutePath('app_squad_favourite_ajax', squad) }}" title="Favourite Squad"></div>
                            {% endif %}
                        </td>
                        <td class="ui top aligned">
                            <a href="{{ nav.entityRoutePath('app_squad_view', squad) }}">
                                <h3>
                                    {% if squad.icon %}
                                        <img src="{{ squad.icon }}" style="vertical-align: middle; margin-right: 10px;" />
                                    {% endif %}
                                    {{ squad }}
                                </h3>
                            </a>
                        </td>
                        <td class="ui top aligned collapsing" data-sort-value="{{ d.rolesort }}">
                            {{ d.role|default('-') }}
                        </td>
                        {% set deployments = ds.getUpcomingDeploymentsForSquad(squad) %}
                        <td class="ui collapsing" data-sort-value="{{ deployments[0].executeDate().getTimestamp()|default(9999999999) }}">
                            {% if deployments %}
                                <table class="ui celled striped sortable selectable table">
                                    <thead>
                                        <tr>
                                            <th>Environment</th>
                                            <th>Upcoming Deployment</th>
                                            <th>Items</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for deployment in deployments %}
                                            <tr>
                                                <td class="ui collapsing" data-sort-value="{{ deployment.environment.level }}">
                                                    {{ deployment.environment.displayTitle }}
                                                </td> 
                                                <td data-sort-value="{{ deployment.executeDate.getTimestamp() }}">
                                                    <a href="{{ nav.entityRoutePath('app_squad_deployment', squad, deployment) }}">
                                                        {{ deployment }}
                                                    </a>
                                                </td>
                                                <td class="ui collapsing">
                                                    {{ ds.getDeploymentItemsForSquad(deployment, squad)|length }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <em>Not involved in any upcoming deployment</em>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="1000" class="center aligned">No active squad to list here</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>
            $('.ui.favorite-squad')
                    .rating({
                        clearable: true,
                        maxRating: 1,
                        onRate: function (value) {
                            var el = $(this);
                            $.ajax({
                                type: "POST",
                                url: $(this).data('url'),
                                contentType: "application/json",
                                data: JSON.stringify({
                                    favourite: value
                                })
                            }).done(function (ret) {
                                el.parent('td').data().sortValue = value;
                            });
                        }
                    });
        </script>

        {% if decommissioned %}
            Decommissioned squad(s):
            <table class="ui fluid striped tiny compact table">
                <thead>
                    <tr>
                        <th>Squad Name</th>
                        <th class="ui collapsing">Decommissioned Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for squad in decommissioned %}
                        <tr>
                            <td>
                                <a href="{{ nav.entityRoutePath('app_squad_view', squad) }}">
                                    {{ squad }}
                                </a>
                            </td>
                            <td class="ui collapsing">
                                {{ squad.decommissioned|date('Y-m-d') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    <div class="ui tab" data-tab="components">
        {% set component_layers = ecosystem.getComponentsByLayer() %}
        <table class="ui purple striped fluid structured celled table">
            <thead>
                <tr>
                    <th rowspan="2">Layer</th>
                    <th rowspan="2">Component</th>
                    <th colspan="1000">Activity Templates for Environments</th>
                </tr>
                <tr>
                    {% for environment in ecosystem.environments %}
                        <th>
                            <h3>
                                <a href="{{ nav.entityRoutePath('app_environment_view', environment) }}#/templates">
                                    <i class="ui globe icon"></i>
                                    {{ environment.name }}
                                </a>
                            </h3>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for layer,components in ecosystem.getComponentsByLayer() %}
                    {% for component in components %}
                        <tr>
                            <td class="ui top aligned collapsing">
                                {{ layer|default('-') }}
                            </td>
                            <td class="ui top aligned">
                                <a href="{{ nav.entityRoutePath('app_component_view', component) }}">
                                    <h3>
                                        <i class="ui cubes icon"></i>
                                        {{ component.name }}
                                    </h3>
                                </a>
                            </td>
                            {% for environment in ecosystem.environments %}
                                {% set templates = componentTemplates[layer][component~""][environment~""]|default([]) %}
                                <td class="ui top aligned">
                                    {% if templates|length > 0 %}
                                        <ul style="margin:0;padding-left:1.2em;">
                                            {% for template in templates %}
                                                <li{% if template.disabled %} style="text-decoration: line-through"{% endif %}>
                                                    <a href="{{ nav.entityRoutePath('app_activitytemplate_view', template) }}">
                                                        {{ template.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        No activity template has been created
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ layer|default('-') }}</td>
                            <td colspan="1000" class="center aligned">
                                No component has been defined.
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="1000" class="center aligned">
                            No component layer has been defined. Ecosystem admin, please define component layers for this ecosystem.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
