{% extends 'base.html.twig' %}

{% block title %}{{ deploymentRequest|default('Add Deployment Request') }} @ {{ environment }} @ {{ ecosystem }}{% endblock %}
{% set is_existing = (deploymentRequest.created|default(null) is not empty) %}

{% block content %}
    {% if errors|default(false) %}
        <div class="ui error message">
            <i class="ui exclamation triangle icon"></i>
            Your input requires your further attention. Please inspect any messages below.
        </div>
    {% endif %}
    <form class="disable-on-submit confirm-on-leave" method="POST">
        <div class="ui form">
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Deployment Date</label>
                {{ _self.dateField('executeDate','executeDate',(deploymentRequest.executeDate|default(null) ? deploymentRequest.executeDate|date('Y-m-d h:i A') : null),'Deployment date', 'datetime') }}
                {{ _self.fieldError(errors|default([]), 'executeDate') }}
            </div>
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Name</label>
                <input placeholder="User friendly deployment name (max 100 characters)" type="text" name="name" value="{{ deploymentRequest.name|default(null) }}" />
                {{ _self.fieldError(errors|default([]), 'name') }}
            </div>
            <div class="ui field basic segment">
                <label class="ui top attached large label">Description</label>
                <textarea name="description" rows="3">{{ deploymentRequest.description|default(null) }}</textarea>
                {{ _self.fieldError(errors|default([]), 'description') }}
            </div>
            <div class="ui field basic segment">
                <label class="ui top attached large label">Duration</label>
                <div>
                    <div class="ui field basic segment">
                        <div id="deployment_duration_slider" class="ui labeled ticked slider"></div>
                        <input id="deployment_duration_input" type="hidden" value="{{ deploymentRequest.duration|abs }}" name="duration" />
                    </div>
                    How long (in hours) this deployment will be running.
                </div>
                <script>
                    $(function () {
                        $('#deployment_duration_slider').slider({
                            min: 1,
                            max: 12,
                            smooth: true,
                            start: {{ deploymentRequest.duration|abs }},
                            onChange: function (v) {
                                $('#deployment_duration_input').val(v);
                            }
                        });
                    });
                </script>
            </div>
            <div class="ui field">
                <button type="submit" class="ui submit primary button" name="formAction" value="save">
                    {% if is_existing %}Save{% else %}Add{% endif %} Deployment Request
                </button>
                <a href="{{ cancel_path|default('javascript:window.history.go(-1)') }}" class="ui secondary button">Cancel</a>
                {% if is_existing and security.isGranted('approval',deploymentRequest) and deploymentRequest.canDelete() %}
                    <button type="submit" class="ui red right floated button" name="formAction" value="delete"
                            onclick="return confirmOperation('Are you sure you want to delete? Enter deployment request name to delete', {{ deploymentRequest.name|json_encode() }});">
                        Delete
                    </button>
                {% endif %}
            </div>
        </div>
    </form>

    {{ _self.timestamps(deploymentRequest, 'margin: 3em 5px 0 0;') }}
{% endblock %}
