{% extends 'base.html.twig' %}

{% block title %}{{ item|default('Add Item') }} @ {{ squad }} @ {{ deployment }} @ {{ environment }} @ {{ ecosystem }}{% endblock %}
{% set is_existing = (item.created|default(null) is not empty) %}

{% block content %}
    {% if errors|default(false) %}
        <div class="ui error message">
            <i class="ui exclamation triangle icon"></i>
            Your input requires your further attention. Please inspect any messages below.
        </div>
    {% endif %}
    <form class="disable-on-submit confirm-on-leave" method="POST">
        <div class="ui form">
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Name</label>
                <input placeholder="User friendly deployment item name (max 100 characters)" type="text" name="name" value="{{ item.name|default(null) }}" />
                {{ _self.fieldError(errors|default([]), 'name') }}
            </div>
            <div class="ui field basic segment">
                <label class="ui top attached large label">Reference Number</label>
                <input placeholder="Optional reference number (max 20 characters)" type="text" name="refnum" value="{{ item.refnum|default(null) }}" />
                {{ _self.fieldError(errors|default([]), 'refnum') }}
            </div>
            <div class="ui field basic segment">
                <label class="ui top attached large label">Description</label>
                <textarea name="description" rows="3">{{ item.description|default(null) }}</textarea>
                {{ _self.fieldError(errors|default([]), 'description') }}
            </div>
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Category</label>
                <div class="grouped fields">
                    {% for category in item.squad.categories %}
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="category" value="{{ category }}" {% if category == item.category %}checked="checked"{% endif %} />
                                <label>{{ category }}</label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {{ _self.fieldError(errors|default([]), 'category') }}
            </div>
            <div class="ui basic segment stackable grid">
                <div class="ui ten wide column field">
                    <label class="ui top attached large label">External URL</label>
                    <input placeholder="External URL for this deployment (if any)" type="text" name="externalUrl" value="{{ item.externalUrl|default(null) }}" />
                    {{ _self.fieldError(errors|default([]), 'externalUrl') }}
                </div>
                <div class="ui six wide column field">
                    <label class="ui top attached large label">External URL Label</label>
                    <input placeholder="Label for external URL (default to 'External URL' if empty)" type="text" name="externalUrlLabel" value="{{ item.externalUrlLabel|default(null) }}" />
                    {{ _self.fieldError(errors|default([]), 'externalUrlLabel') }}
                </div>
            </div>
            <div class="ui field">
                <button type="submit" class="ui submit primary button" name="formAction" value="save">
                    {% if is_existing %}Save{% else %}Add{% endif %} Deployment Item
                </button>
                <a href="{{ cancel_path|default('javascript:window.history.go(-1)') }}" class="ui secondary button">Cancel</a>
                {% if is_existing and security.isGranted('delete',item) and item.canDelete() %}
                    <button type="submit" class="ui red right floated button" name="formAction" value="delete"
                            onclick="return confirmOperation('Are you sure you want to delete? Enter deployment item name to delete', {{ item.name|json_encode() }});">
                        Delete
                    </button>
                {% endif %}
            </div>
        </div>
    </form>

    {% if is_existing %}
        <h2 class="ui header">Move to another deployment</h2>
        <p>It is possible for a deployment item to be moved to another upcoming deployment, with the following rules;</p>
        <ul>
            <li>All shared activities will be detached and equivalent activities will be created for the destination deployment, EXCEPT:</li>
            <li>If the destination deployment already has activities that use the same activity templates, the moved deployment item will attach those activities instead.</li>
        </ul>

        <script>
            function enableDisableMoveButton() {
                var el = $('#moveDestination');
                if (el.val() == {{ deployment.id|json_encode|raw }} || el.val() == null) {
                    $('button', el.parents('form')).addClass('disabled');
                } else {
                    $('button', el.parents('form')).removeClass('disabled');
                }
            }
            $(enableDisableMoveButton);
        </script>
        <form class="disable-on-submit confirm-on-leave" method="POST">
            <div class="ui form">
                <div class="ui field basic segment">
                    <select id="moveDestination" name="moveto" class="ui fluid dropdown" onchange="enableDisableMoveButton();">
                        {% for moveto in environment.upcoming %}
                            <option value="{{ moveto.id }}" {{ ifelse(moveto|default(null) == deployment, 'selected') }}>{{ moveto }}</option>
                        {% endfor %}
                    </select>
                    {{ _self.fieldError(errors|default([]), 'moveto') }}
                </div>
                <div class="ui field">
                    <button type="submit" class="ui submit red button disabled" name="formAction" value="move"
                            onclick="return confirm('Are you sure you want to move this item to another deployment?')">
                        Move
                    </button>
                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}
