{% extends "base.html.twig" %}

{% block title %}{{ item }} @ {{ squad }} @ {{ deployment }} @ {{ environment }} @ {{ ecosystem }}{% endblock %}

{% block head %}
    <script>
        function changeStatus(status, required) {
            $('#change_status_field').val(status);
            $('#change_status_next').text(status);
            if (required) {
                $('#changeStatusRemarkField').addClass('required');
                $('#changeStatusRemarkRequired').val(1);
            } else {
                $('#changeStatusRemarkField').removeClass('required');
                $('#changeStatusRemarkRequired').val(0);
            }
            $('#change_status_confirmation').modal('show');
            validateRemark();
        }

        function validateRemark() {
            if ($('#changeStatusRemarkRequired').val() == 1 && $('#changeStatusRemarkTextArea').val().trim() == '') {
                $('#change_status_button').addClass('disabled');
            } else {
                $('#change_status_button').removeClass('disabled');
            }
        }

        function activitiesOpenClose(open) {
            $('.activities.accordion').accordion(open ? 'open' : 'close', 0);
        }

        $(function () {
            $('#changeStatusRemarkTextArea').on('input propertychange', validateRemark);
            $('.menu .item').tab();
        });

        $(function () {
            $('.activities.accordion').each(function () {
                var elem = $(this);
                var autoclosing = setTimeout(function () {
                    elem.accordion('close', 0);
                }, 3000);
                elem.on('mouseover', function () {
                    clearTimeout(autoclosing);
                });
            });
        });
    </script>
{% endblock %}

{% block heading %}
    {{ parent() }}
    <div class="ui labels">
        {% if item.externalUrl %}
            <a class="ui circular black label no-print" href="{{ item.externalUrl }}" target="_blank">
                <i class="ui linkify icon"></i>{{ item.externalUrlLabel|default('External URL') }}
            </a>
        {% endif %}
        {{ _self.itemCategoryLabel(item) }}
        {% if editable and nav.isRouteGranted('app_item_update') %}
            <a class="ui right floated button no-print" href="{{ nav.entityRoutePath('app_item_update',item) }}">
                <i class="ui pencil icon"></i>
                <span class="hide-on-mobile">Update</span>
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block headers %}
    {{ parent() }}
    {{ _self.describe(item.description, 'item') }}
{% endblock %}

{% block content %}
    <div class="ui mobile stackable grid">
        <div class="four wide column">
            <h2 class="ui top attached block header">
                Status: <span class="nowrap"><i class="ui {{ item.statusConfig.icon }} icon"></i>{{ item.status }}</span>
            </h2>
            <div class="ui attached secondary segment">
                <div class="ui top attached tabular menu">
                    <div class="active item" data-tab="status-progress">Progress</div>
                    <div class="item" data-tab="status-log">Log</div>
                </div>

                <div class="ui bottom attached tab segment active" data-tab="status-progress">
                    <div class="ui stackable small vertical fluid steps">
                        {% set transitions = ds.getItemAllowedTransitions(item, ds.getUser()) %}
                        {% for s in constant('App\\Entity\\Item::STATUSES')|keys %}
                            {% set prog = item.compareCurrentStatusTo(s) %}
                            {% set status_info = constant('App\\Entity\\Item::STATUSES')[s] %}
                            <div class="{% if prog < 0 or item.status == 'Completed' %}completed{% endif %} {% if prog == 0 %}active{% endif %} step">
                                <i class="ui {{ status_info.stepicon }} icon"></i>
                                <div class="content">
                                    <div class="title" {% if prog < 0 %}style="text-decoration: line-through"{% endif %}>{{ s }}</div>
                                    <div class="description">
                                        {% for ts,tc in transitions[s]|default([]) %}
                                            <div class="ui {{ tc.type }} mini button" onclick="changeStatus({{ tc.status|json_encode|e('html_attr') }}, {{ tc.remark ? 1:0 }})">
                                                {{ tc.label }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="ui bottom attached segment tab overflow-auto" data-tab="status-log">
                    <table class="ui very compact small sortable table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Status</th>
                                <th>By</th>
                            </tr>
                        </thead>					
                        <tbody>
                            {% for log in item.statusLogs %}
                                <tr>
                                    <td>
                                        <span class="nowrap"><i class="calendar icon"></i>{{ log.created|date('Y-m-d') }}</span>
                                        <span class="nowrap"><i class="clock icon"></i>{{ log.created|date('H:i') }}</span>
                                    </td>
                                    <td>{{ log.status }}</td>
                                    <td>{{ log.createdBy.fullname|default('Anonymous') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="eight wide column">
            <h2 class="ui header">
                <span>
                    <i class="ui add to cart icon"></i> Activities
                </span>
                {% if editable and nav.isRouteGranted('app_activity_add') %}
                    <a class="ui right floated primary button no-print" href="{{ nav.entityRoutePath('app_activity_add',item) }}">
                        <i class="ui plus icon"></i>Add
                    </a>
                {% endif %}
                <div style="clear:both"></div>
            </h2>

            <table class="ui celled striped table" style="table-layout: fixed">
                {% if item.itemActivities|length > 0 %}
                    <thead>
                        <tr>
                            <th style="width:3em">#</th>
                            <th>
                                <a style="float:right" href="#" title="Open all" onclick="activitiesOpenClose(true);
                                        return false"><i class="ui folder open icon"></i></a>
                                <a style="float:right" href="#" title="Close all" onclick="activitiesOpenClose(false);
                                        return false"><i class="ui folder icon"></i></a>
                                Description
                            </th>
                            <th style="width:8em">Status</th>
                        </tr>
                    </thead>
                {% endif %}
                <tbody>
                    {% for itemActivity in itemActivities %}
                        {% set activity = itemActivity.activity %}
                        {% set actionable = itemActivity.actionable %}
                        {% set templateClass = templateMgr.getTemplateClass(actionable.template.class) %}
                        {% set description = templateClass.describeActionableAsArray(actionable) %}
                        <tr style="position:relative">
                            <td class="ui top aligned">
                                {{ loop.index }}
                            </td>
                            <td class="ui top aligned" style="position:relative; overflow: auto; max-width: inherit;">
                                <div class="ui activities fluid accordion" id="{{ actionable.id }}">
                                    <h4 class="title active" style="margin:0">
                                        <i class="dropdown icon"></i>
                                        {{ actionable.displayTitle() }}
                                    </h4>
                                    <div class="content active">
                                        {{ _self.arrayTable(description) }}
                                        <div class="ui right floated label">Priority: {{ itemActivity.activity.template.priority }}</div>
                                    </div>
                                </div>
                            </td>
                            <td class="ui top aligned collapsing no-print">
                                <div>
                                    {{ actionable.status }}
                                    <div style="clear:both"></div>
                                    {% if editable and nav.isRouteGranted('app_activity_update', {'activity':activity}) %}
                                        {% set confirmMessage = 'Remove this activity from this item?' ~ ifelse(activity.itemActivities.count() == 1, '\nSince there is no other item using this activity, it will be deleted permanently.') %}
                                        <a class="ui right floated icon button" title="Remove" href="{{ nav.entityRoutePath('app_activity_remove',activity,item) }}"
                                           onclick="return confirm({{ confirmMessage|json_encode }});">
                                            <i class="ui trash icon"></i>
                                        </a>
                                        <a class="ui right floated icon button" title="Update" href="{{ nav.entityRoutePath('app_activity_update',activity,item) }}">
                                            <i class="ui pencil icon"></i>
                                        </a>
                                    {% endif %}
                                    <div style="clear:both"></div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="center aligned">No activity has been defined</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <div class="four wide column">
            <div class="ui secondary segment">
                <h3 class="ui dividing header">
                    <i class="ui comments outline icon"></i> Comments
                </h3>

                <div class="ui comments">
                    {% for comment in item.comments %}
                        <div class="comment">
                            <div class="content">
                                {% if comment.createdBy is same as ds.user and comment.event is empty %}
                                    <form method="POST">
                                        <input type="hidden" name="commentId" value="{{ comment.id }}" />
                                        {% if comment.deletedDate %}
                                            <button class="ui right floated compact very tiny icon button" 
                                                    name="commentAction" value="undelete" title="Undo delete">
                                                <i class="ui undo icon"></i>
                                            </button>
                                        {% else %}
                                            <button class="ui right floated compact very tiny icon button" 
                                                    name="commentAction" value="delete" title="Delete">
                                                <i class="ui x icon"></i>
                                            </button>
                                        {% endif %}
                                    </form>
                                {% endif %}
                                <a class="author">{{ comment.createdBy.fullname|default('Anonymous') }}</a>
                                <div class="metadata">
                                    <span class="date">{{ comment.created|date('Y-m-d h:ia') }}</span>
                                </div>
                                {% if comment.event %}
                                    <div class="text">
                                        <span class="ui right pointing label">{{ comment.event }}</span> {{ comment.text|nl2br }}
                                    </div>
                                {% elseif comment.deletedDate %}
                                    <div class="metadata">
                                        <em>&raquo; Deleted on {{ comment.deletedDate|date('Y-m-d h:ia') }}</em>
                                    </div>
                                {% else %}
                                    <div class="text">
                                        {{ comment.text|nl2br }}
                                    </div>
                                {% endif %}	
                            </div>
                        </div>
                    {% else %}
                        <em>No comments yet</em>
                    {% endfor %}
                    {% if security.isGranted('any',item) %}
                        <form class="ui center aligned form basic segment no-print disable-on-submit" method="POST" {# action="{{ nav.entityRoutePath('app_item_comment_add',item) }}" #}>
                            <h4 class="ui horizontal divider header">
                                Add comment
                            </h4>
                            <div class="field">
                                <textarea name="itemComment" rows="3"></textarea>
                            </div>
                            <input class="ui secondary button" type="submit" value="Post" />
                            <p><em>Comments are displayed in this page only and will not appear inside deployment runbook. Any instructions for deployment need to be added to activities.</em></p>
                        </form>
                    {% endif %}
                </div>			
            </div>
        </div>

    </div>

    {{ _self.timestamps(item, 'margin: 3em 5px 0 0;') }}

    <div id="change_status_confirmation" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Change Status to <span id="change_status_next">next</span>
        </div>
        <form class="ui form basic segment" method="POST" onsubmit="showOverlay('Updating ...');">
            <div id="changeStatusRemarkField" class="ui field content">
                <label>Remark</label>
                <textarea id="changeStatusRemarkTextArea" placeholder="Please enter a remark" name="statusRemark"></textarea>
            </div>
            <div class="actions">
                <input id="change_status_button" class="ui ok primary button" type="submit" value="Change Status" />
                <div class="ui cancel button">Cancel</div>
                <input id="changeStatusRemarkRequired" type="hidden" name="remarkRequired" value="" />
                <input id="change_status_field" type="hidden" name="newStatus" value="0" />
            </div>
        </form>
    </div>
{% endblock %}

{% macro changeStatus(v, i) %}
    <div class="ui left labeled button" tabindex="0" style="margin:5px">
        <a class="ui basic right pointing label">
            {% if i.class is defined %}Change{% else %}Revert{% endif %}
        </a>
        <div class="ui {{ i.class|default(null) }} button" onclick="changeStatus({{ v|json_encode|e('html_attr') }})">
            <i class="{{ i.icon }} icon"></i> {{ v }}
        </div>
    </div>
{% endmacro %}

{% macro changeStatusBox(next_status) %}
    {% import _self as mm %}
    {% if next_status|length > 0 %}
        <div class="ui info message">
            {% for v,i in next_status %}
                {{ mm.changeStatus(v, i) }}<br />
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}