{% extends 'base.html.twig' %}

{% block title %}{{ squad }} @ {{ deployment }} @ {{ environment }} @ {{ ecosystem }}{% endblock %}

{% block headers %}
    {{ parent() }}
    <a class="ui right floated button no-print" href="{{ nav.entityRoutePath('app_squad_view',squad) }}">
        <i class="ui users icon"></i>
        <span class="hide-on-mobile">View squad page</span>
    </a>
    {{ _self.describe(deployment.description, 'deployment') }}
{% endblock %}

{% block content %}
    <div class="ui tabular secondary pointing menu">
        <div class="active item" data-tab="items">
            <h2 class="ui header">
                <span>
                    <i class="ui flag icon"></i>
                    <span class="hide-on-mobile">Deployment Items</span> 
                    <span class="ui circular large label">{{ squad_items|length }}</span>
                </span>
            </h2>
        </div>
    </div>

    <div class="ui tab" data-tab="items">
        {% if squad_items|length > 0 %}
            <div class="ui basic segment">
                <div class="ui grid">
                    <div class="doubling six column row">
                        <div class="ui column center aligned">
                            <div class="ui red tiny statistic">
                                <div class="label">
                                    Rejected / Failed
                                </div>
                                <div class="value">
                                    {{ squad_items|collfilter({'status': constant('App\\Entity\\Item::STATUS_REJECTED')})|length + squad_items|collfilter({'status': constant('App\\Entity\\Item::STATUS_FAILED')})|length }}
                                </div>
                            </div>
                        </div>
                        {% set statuses = constant('App\\Entity\\Item::STATUSES')|keys %}
                        {% for s in statuses %}
                            <div class="ui column center aligned">
                                <div class="ui tiny statistic ">
                                    <div class="label">
                                        {{ s }}
                                    </div>
                                    <div class="value">
                                        {{ squad_items|collfilter({'status': s})|length }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {{ _self.deploymentItemProgressBars(squad_items) }}
        {% endif %}

        <table class="ui celled striped sortable purple selectable table">
            <thead>
                <tr>
                    <th class="ui collapsing">Reference #</th>
                    <th>Title</th>
                    <th class="ui collapsing">Category</th>
                    <th class="ui collapsing"><i class="ui add to cart icon" title="Activity Count"></i></th>
                    <th class="ui collapsing"><i class="ui comment icon" title="Comment Count"></i></th>
                    <th class="ui collapsing">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in squad_items %}
                    <tr data-category="{{ item.category }}" data-status="{{ item.status }}">
                        <td class="ui collapsing top aligned">
                            {{ item.refnum|default('-') }}
                        </td>
                        <td class="ui top aligned">
                            <h3 style="margin-bottom: 0">
                                {% if item.externalUrl %}
                                    <a class="ui right floated secondary icon mini button no-print" href="{{ item.externalUrl }}" target="_blank" title="{{ item.externalUrlLabel|default('External URL') }}">
                                        <i class="ui linkify icon"></i>
                                    </a>
                                {% endif %}
                                <a href="{{ nav.entityRoutePath('app_item_view',item) }}" style="display:block">
                                    {{ item.name }}
                                </a>
                            </h3>
                            {% if item.description %}
                                <div class="ui message">{{ item.description|nl2br }}</div>
                            {% endif %}
                        </td>
                        <td class="ui collapsing top aligned">
                            {{ _self.itemCategoryLabel(item) }}
                        </td>
                        <td class="ui collapsing top aligned">
                            {% set activities = item.itemActivities.count() %}
                            <span class="ui circular {{ activities?'blue':'red' }} label">{{ activities }}</span>
                        </td>
                        <td class="ui collapsing top aligned">
                            {% set comments = item.comments.count() %}
                            <span class="ui circular {{ comments?'blue':'' }} label">{{ comments }}</span>
                        </td>
                        <td class="ui collapsing top aligned" data-sort-value="{{ item.deployment.squad.item_statuses[item.status].sequence|default(0) }}">
                            {{ _self.itemStatusLabel(item) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="1000" class="center aligned">No item found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if nav.isRouteGranted('app_item_add') and not squad.decommissioned %}
            <a class="ui primary button no-print" style="margin-top: 1rem" href="{{ nav.entityRoutePath('app_item_add', squad, deployment) }}">
                <i class="ui plus icon"></i>Add Deployment Item
            </a>
        {% endif %}
    </div>
{% endblock %}
