{% extends 'base.html.twig' %}

{% block title %}{{ squad|default('Add Squad') }} @ {{ ecosystem }}{% endblock %}

{% set is_existing = (squad.created|default(null) is not empty) %}

{% block content %}
    <form class="disable-on-submit confirm-on-leave" method="POST" enctype="multipart/form-data">
        <div class="ui form">
            <div class="ui required field basic segment">
                <label class="ui top attached large label">
                    Identifier
                </label>
                <input placeholder="Squad identifier (max 30 alphanumeric, dash and underscore characters only)" type="text" name="identifier" value="{{ squad.identifier|default(null) }}" />
                {{ _self.fieldError(errors|default([]), 'identifier') }}
                {% if is_existing %}
                    <div class="ui red label" style="margin-top: 3px">Warning: Changing identifier will change the URL for the squad</div>
                {% endif %}
            </div>
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Name</label>
                <input placeholder="User friendly squad name (max 100 characters)" type="text" name="name" value="{{ squad.name|default(null) }}" />
                {{ _self.fieldError(errors|default([]), 'name') }}
            </div>
            <div class="ui field basic segment">
                <label class="ui top attached large label">Icon</label>
                <input type="file" name="icon" accept=".png,.jpeg,.jpg" />
                {{ _self.fieldError(errors|default([]), 'icon') }}

                {% if squad.icon %}
                    <img src="{{ squad.icon }}" style="vertical-align: middle; margin: 1rem 0;" />
                {% endif %}
            </div>
            <div class="ui field basic segment">
                <label class="ui top attached large label">Decommissioned</label>
                <div class="ui checkbox">
                    <input type="hidden" name="decommissioned" value="0" />
                    <input type="checkbox" name="decommissioned" value="1" {% if squad.decommissioned %}checked="checked"{% endif %} />
                    <label>Check this box if this squad has been decommissioned. No more deployment items will be allowed to be created for a decommissioned squad.</label>
                </div>
            </div>
            <div class="ui field">
                <button type="submit" class="ui submit primary button" name="formAction" value="save">
                    {% if is_existing %}Save{% else %}Add{% endif %} Squad
                </button>
                <a href="{{ cancel_path|default('javascript:window.history.go(-1)') }}" class="ui secondary button">Cancel</a>
                {% if is_existing and squad.canDelete() %}
                    <button type="submit" class="ui red right floated button" name="formAction" value="delete"
                            onclick="return confirmOperation('Are you sure you want to delete? Enter squad name to delete', {{ squad.name|json_encode() }});">
                        Delete
                    </button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
