{% extends "base.html.twig" %}

{% block title %}Members @ {{ squad }} @ {{ ecosystem }}{% endblock %}

{% block content %}
    <form class="disable-on-submit confirm-on-leave" method="POST">
        <table class="ui celled striped table">
            <thead>
                <tr>
                    <th>Member</th>
                    <th colspan="6">Role</th>
                </tr>
            </thead>
            <tbody>
                {% for membership in squad.memberships %}
                    <tr>
                        <td>{{ membership.member.fullname }}</td>
                        {% for lbl,role in {'View':'view','Execute':'execute','Entry':'entry','Review':'review','Approval':'approval','(Remove)':'-'} %}
                            <td class="ui collapsing">
                                <div class="ui toggle checkbox">
                                    <input type="radio" name="memberships[{{ membership.member.id }}]" value="{{ role }}" {{ ifelse(role == membership.role|default('-'), 'checked="checked"') }} />
                                    <label>{{ lbl }}</label>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="ui field">
            <button type="submit" class="ui submit primary button" name="formAction" value="save">
                Save Changes
            </button>
        </div>
    </form>

    <h3>Add Members</h3>

    <form class="disable-on-submit confirm-on-leave" method="POST">
        <div class="ui form">
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Select Users</label>
                <select class="ui fluid search dropdown" multiple="" name="newMemberUsers[]">
                    {% for user in non_members %}
                        <option value="{{ user.id }}">{{ user.fullname }} ({{ user.email }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="ui required field basic segment">
                <label class="ui top attached large label">Role</label>
                <table class="ui celled striped table">
                    <tbody>
                        <tr>
                            {% for lbl,role in {'View':'view','Execute':'execute','Entry':'entry','Review':'review','Approval':'approval'} %}
                                <td class="ui collapsing">
                                    <div class="ui toggle checkbox">
                                        <input type="radio" name="newMemberRole" value="{{ role }}" />
                                        <label>{{ lbl }}</label>
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ui field">
                <button type="submit" class="ui submit primary button" name="formAction" value="add">
                    Add Members
                </button>
            </div>
        </div>
    </form>
{% endblock %}
