{% extends "base.html.twig" %}

{% block title %}{{ squad }} @ {{ ecosystem }}{% endblock %}

{% block heading %}
    {{ parent() }}
    {% if nav.isRouteGranted('app_squad_update') %}
        <a class="ui right floated button no-print" href="{{ nav.entityRoutePath('app_squad_update',squad) }}">
            <i class="ui pencil icon"></i>
            <span class="hide-on-mobile">Update</span>
        </a>
    {% endif %}
{% endblock %}

{% block headertext %}
    {{ parent() }}
    {% if membership %}
        <span style="margin: 0 10px;">
            <span class="ui basic circular label">
                <div class="ui large yellow rating favorite-squad" data-rating="{{ membership.favourite }}" data-membership="{{ membership.id }}" title="Favourite Squad"></div>
                <span id="star-count" style="font-size: 120%; margin: 0 5px;">{{ squad.starCount }}</span>
            </span>
        </span>
        <script>
            $('.ui.favorite-squad')
                    .rating({
                        clearable: true,
                        maxRating: 1,
                        onRate: function (value) {
                            $.ajax({
                                type: "POST",
                                url: {{ nav.entityRoutePath('app_squad_favourite_ajax', squad) | json_encode | raw }},
                                contentType: "application/json",
                                data: JSON.stringify({
                                    membershipId: $(this).attr('data-membership'),
                                    favourite: value
                                })
                            }).done(function (ret) {
                                $('#star-count').text(ret);
                            });
                        }
                    });
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="ui mobile stackable grid">
        <div class="eight wide tablet ten wide computer column">
            <h2 class="ui header">
                {% if not squad.decommissioned and nav.isRouteGranted('app_deployment_add') %}
                    <div class="ui top left pointing dropdown right floated purple button">
                        <i class="calendar plus o icon"></i> Add Deployment
                        <div class="menu">
                            <div class="header">Select Environment</div>
                            {% for environment in squad.ecosystem.environments %}
                                <a class="item" href="{{ nav.entityRoutePath('app_deployment_add', environment) }}">{{ environment.displayTitle }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if not squad.decommissioned and nav.isRouteGranted('app_deployment_request_add') %}
                    <div class="ui top left pointing dropdown right floated purple button">
                        <i class="calendar plus o icon"></i> Add Deployment Request
                        <div class="menu">
                            <div class="header">Select Environment</div>
                            {% for environment in squad.ecosystem.environments %}
                                <a class="item" href="{{ nav.entityRoutePath('app_deployment_request_add', environment) }}">{{ environment.displayTitle }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                Upcoming Deployments
            </h2>
            {% if squad.decommissioned %}
                <div class="ui placeholder segment">
                    <div class="ui icon header">
                        <i class="ui calendar o icon"></i>
                        This squad has been decommissioned on {{ squad.decommissioned|date('Y-m-d') }}<br />
                        so it cannot involve in any upcoming deployments.
                    </div>
                </div>
            {% else %}
                {% for deployment in upcomingDeployments %}
                    <div class="ui purple fluid card">
                        <div class="content">
                            <a class="ui right floated label" href="{{ nav.entityRoutePath('app_environment_view', deployment.environment) }}">
                                <i class="calendar globe icon"></i>
                                {{ deployment.environment }}
                            </a>
                            <a class="header" href="{{ nav.entityRoutePath('app_squad_deployment', deployment, squad) }}">
                                <span class="ui {% if deployment.isRunning() %} blink{% endif %}">
                                    <i class="calendar check o icon"></i>
                                    {{ _self.displayDateTime(deployment.executeDate) }}
                                </span>
                                <span class="hide-on-mobile">
                                    {{ deployment.name }}
                                </span>
                            </a>
                            {{ _self.deploymentItemList(deployment.getItemsForSquad(squad)) }}
                        </div>
                        {% if nav.isRouteGranted('app_item_add') %}
                            <a class="ui bottom right floated purple label button no-print" style="margin-top: 10px" href="{{ nav.entityRoutePath('app_item_add', squad, deployment) }}">
                                <i class="plus icon"></i>
                                Add Deployment Item
                            </a>
                        {% endif %}
                    </div>
                {% else %}
                    {{ _self.noUpcomingDeployment }}
                {% endfor %}
            {% endif %}

            {% if pastDeployments|length > 0 %}
                <div class="ui divider"></div>
                <h2 class="ui header">
                    Past {{ pastDeployments|length }} Deployments
                </h2>
                <div class="ui two stackable cards">
                    {% for deployment in pastDeployments %}
                        <div class="ui purple fluid card">
                            <div class="content">
                                <a class="ui right floated label" href="{{ nav.entityRoutePath('app_environment_view', deployment.environment) }}">
                                    <i class="calendar globe icon"></i>
                                    {{ deployment.environment }}
                                </a>
                                <a class="header" href="{{ nav.entityRoutePath('app_squad_deployment', deployment, squad) }}">
                                    <span class="ui {% if deployment.isRunning() %} blink{% endif %}">
                                        <i class="calendar check o icon"></i>
                                        {{ _self.displayDateTime(deployment.executeDate) }}
                                    </span>
                                    <p class="hide-on-mobile">
                                        {{ deployment.name }}
                                    </p>
                                </a>
                                {{ _self.deploymentItemList(deployment.getItemsForSquad(squad)) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="eight wide tablet six wide computer column">
            <div class="ui secondary segment">
                <h2 class="ui header">
                    {% if nav.isRouteGranted('app_squad_users') %}
                        <a class="ui right floated tiny purple button no-print" href="{{ nav.entityRoutePath('app_squad_users',squad) }}">
                            <i class="ui users icon"></i>
                            <span class="hide-on-mobile">Manage</span>
                        </a>
                    {% endif %}
                    Members
                </h2>
                <div class="ui divided ordered suffixed relaxed list">
                    {% for membership in squad.memberships %}
                        <div class="item">
                            <span>
                                {{ membership.member.fullname }}
                                {% if membership.member.lastLogin %}
                                    {% set sinceLogin = membership.member.lastLogin.diff(now) %}
                                    {% if sinceLogin.days * 24 + sinceLogin.h * 60 + sinceLogin.i <= 30 %}
                                        <i class="ui clock outline icon" title="Login {{ membership.member.lastLogin|date('Y-m-d H:i A') }}"></i>
                                    {% endif %}
                                {% endif %}
                            </span>
                            <div class="ui right floated horizontal label">{{ membership.role|title }}</div>
                        </div>
                    {% else %}
                        <em>No members yet</em>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
